@font-face {
    font-family: 'Inter-Regular';
    src: url('../../../fonts/Inter/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../../../fonts/Inter/Inter-Medium.ttf');
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../../fonts/Inter/Inter-SemiBold.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../fonts/Inter/Inter-Bold.ttf');
}

*,*::before,
*::after {
    box-sizing: border-box;
}
html {
	font-size: 62.5%!important;
	overflow-y: scroll;
}
body {
	font-size: 1.6rem;
	font-family: var(--eventy-font-family), sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1.5;
    color: #2C2C2C;
	text-align: left;
	overflow-y: visible!important;
    padding-right: 0 !important;
}
[v-cloak] {display: none;}
a,
a:hover {
    text-decoration: none;
    color: #707070;
}
dl, ol, ul {
    padding-left: 1.5rem;
    /* font-size: 0.875rem; */
    list-style-type: none;
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-family: var(--eventy-font-family), sans-serif;
    margin-bottom: .8rem;
}
a, div, h1, h2, h3, h4, h5, p, span {
    text-shadow: none;
}
h3 {
	font-size: 2.4rem;
}
h4 {
	font-size: 1.8rem;
}
h5,p {
	font-size: 1.6rem;
}
h6 {
	font-size: 1.5rem;
}
small {
	font-size: 1.2rem;
}

/* Color & Background Color */
.color-primary {
    color: var(--eventy-color-primary);
}
.color-secondary {
    color: var(--eventy-color-secondary);
}
.color-tertiary {
    color: var(--eventy-color-tertiary);
}
.bg-primary {
    background-color: var(--eventy-color-primary);
}
.bg-secondary {
    background-color: var(--eventy-color-secondary);
}
.bg-tertiary {
    background-color: var(--eventy-color-tertiary);
}
.bg-dark-grey {
    background-color: #6F6F6F!important;
}
.bg-light-grey {
    background-color: #f9f9f9;
}

.swal2-container {
    z-index: 9999999!important;
}
.swal2-popup.swal2-toast {
    padding: 1.5rem 4rem !important;
}
.swal2-container > .swal2-popup {
    font-size: 1.5rem;
}
.pointer-events-none {
    pointer-events: none;
}

.ph-item.ph-nowrapper-rounded {
    padding: 0;
    border: none;
    background-color: transparent;
}
.ph-item.ph-nowrapper-rounded * {
    border-radius: 10px;
}

.flex-grow {
    flex-grow: 1;
}
.btn:not(.note-btn) {
    font-size: 1.4rem;
    /* padding: .8rem 2rem; */
}
.button_action .btn-xs {
    font-size: 1.2rem;
}
.note-btn {
    padding: .8rem 1.2rem;
}
.alert {
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
}
.alert i {
    font-size: 2rem;
}

.form-group label {
    font-size: 1.4rem;
}
.btn.btn-sm, .btn-group-sm > .btn, .ajax-upload-dragdrop .btn-group-sm > .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .btn-group-sm > .swal2-styled, .wizard > .actions .btn-group-sm > a, .ajax-upload-dragdrop .btn-sm.ajax-file-upload, .swal2-modal .swal2-buttonswrapper .btn-sm.swal2-styled, .wizard > .actions a.btn-sm {
    font-size: 1.4rem;
}
.close {
    font-size: 2.4rem;
}
.btn, .ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard > .actions a, .btn-group.open .dropdown-toggle, .btn:active, .ajax-upload-dragdrop .ajax-file-upload:active, .swal2-modal .swal2-buttonswrapper .swal2-styled:active, .wizard > .actions a:active, .btn:focus, .ajax-upload-dragdrop .ajax-file-upload:focus, .swal2-modal .swal2-buttonswrapper .swal2-styled:focus, .wizard > .actions a:focus, .btn:hover, .ajax-upload-dragdrop .ajax-file-upload:hover, .swal2-modal .swal2-buttonswrapper .swal2-styled:hover, .wizard > .actions a:hover, .btn:visited, .ajax-upload-dragdrop .ajax-file-upload:visited, .swal2-modal .swal2-buttonswrapper .swal2-styled:visited, .wizard > .actions a:visited, a, a:active, a:checked, a:focus, a:hover, a:visited, body, button, button:active, button:hover, button:visited, div, input, input:active, input:focus, input:hover, input:visited, select, select:active, select:focus, select:visited, textarea, textarea:active, textarea:focus, textarea:hover, textarea:visited {
    box-shadow: none;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 1.5rem;
}

.product-chat-attach {
    border-radius: 15px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    background-color: #ececec;
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
}
.product-chat-attach img {
    width: 15%;
    border-radius: 15px;
    -o-object-fit: contain;
    object-fit: contain;
}
.product-chat-attach.before-send {
    position: absolute;
    bottom: 62px;
    z-index: 1;
    left: 15px;
    right: 15px;
}
.product-name {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.product-price {
    color: var(--eventy-color-primary);
    font-size: 1.4rem;
    font-weight: 700;
}

/*------------------------------------------------------------------
  Header
-------------------------------------------------------------------*/
.navbar {
    font-family: var(--eventy-font-family), sans-serif;
    background: #ffffff;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
}
.navbar.fixed-top {
    z-index: 1050;
}
@media (min-width: 992px) {
    .container-header {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.event-title {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: none;
}

/* Navbar */
.navbar .navbar-brand-wrapper .navbar-brand img {
    height: 3rem;
    margin: auto;
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar .navbar-brand-wrapper .brand-logo-mini img {
    height: 4rem;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.navbar .navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-menu-wrapper .navbar-nav {
    flex-direction: row;
    align-items: center;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right * {
    white-space: normal;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right h6 {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 5rem;
    color: #2C2C2C;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right small {
    font-size: 1rem;
    color: #2C2C2C;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-profile img {
    display: initial !important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
}
/*------------------------------------------------------------------
  Header End
-------------------------------------------------------------------*/

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    min-height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content-wrapper {
    background-color: #F5F5FB;
    width: 100%;
    flex-grow: 1;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.stretch-card {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

/* Scroll Auto */
.scroll-list {
    overflow-x: auto;
}
.scroll-list::-webkit-scrollbar {
    width: 6px;
}
.scroll-list::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 4px;
}
.scroll-list::-webkit-scrollbar-thumb {
    background-color: #e2e2e2;
    border-radius: 4px;
}

.form-control {
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 1.4rem;
    border: 1px solid #F5F5F5;
    height: auto;
    background: #F5F5F5;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--eventy-color-red);
}
.invalid-feedback {
    color: var(--eventy-color-red);
}
.input-custom {
    padding: 10px 15px;
}
.input-custom, .input_date {
    background-color: #F5F5FB;
    color: var(--color-dark);
    border-radius: 15px;
    /* border: none; */
    box-shadow: 5px 10px 5px #f1f1f7 inset;
    height: auto;
    font-size: 16px;
    font-weight: 700;
}
.text-help {
    color: #FF748D;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 18px;
    margin-top: 5px;
    margin-left: 10px;
}
.image-square-box {
    width: 200px;
    height: 200px;
}
.image-landscape-box {
    height: 333px;
    width: 592px;
}
.image-portrait-box {
    height: 592px;
    width: 333px;
}
.form-group .input-group .form-control {
    background: #F5F5F5;
    border: none;
    font-size: 1.4rem;
    padding: 1.4rem 1.8rem;
    border-radius: 15px;
}
.form-group .input-group {
    margin-top: 4px;
}
.form-group .input-group .input-group-append .input-group-text {
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 1.2rem;
    text-decoration: none;
}
.input-group-append, .input-group-prepend, .asColorPicker-trigger {
    background-color: var(--eventy-color-primary);
    color: #fff;
    width: auto;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 15px;
    z-index: 4;
}
.show-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    cursor: pointer;
}
.show-password.small {
    font-size: 1.6rem;
    transform: translateY(0);
}
input[type="text"] ~ .show-password {
    color: var(--eventy-color-primary);
}

.home-box-welcome {
    display: block;
    background: var(--eventy-color-primary-light);
    padding: 2.5rem;
    border-radius: 10px;
}
.home-box-welcome .box-welcome-title {
    color: var(--eventy-color-primary);
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}
.home-box-welcome p {
    color: #7F8385;
    font-size: 15px;
}

.btn-chat {
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 1;
}

.title-caption-head {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
    color: var(--eventy-color-primary);
    letter-spacing: 0.6px;
}
.pointer-events-none {
    pointer-events: none;
}
.loader-show {
    pointer-events: none!important;
    opacity: .6!important;
}
.loader-hide {
    pointer-events: all;
    opacity: 1;
}

/* list nav sechdule */
.nav-schedule{
    margin-left: -13px;
    list-style: none;
}
.scroll-schedule{
    max-height: 390px;
    overflow-x: auto;
}
.scroll-schedule::-webkit-scrollbar {
    width: 6px;
}
.scroll-schedule::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}
.scroll-schedule::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}
.scroll-participant{
    max-height: 320px;
    overflow-x: auto;
}
.scroll-participant::-webkit-scrollbar {
    width: 6px;
}
.scroll-participant::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}
.scroll-participant::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}
.nav-schedule li a{
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 14px;
    cursor: default;
}
/* .nav-schedule li a:hover, .nav-schedule li a:focus,  */
.nav-schedule li a.active{
    background: #F2F2F2;
}
.nav-schedule li .item{
    position: relative;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.nav-schedule li a .nav-title{
    display: block;
    color: #002C49;
    font-size: 15px;
    font-weight: 600;
    line-height: 30px;
    padding-right: 5rem;
}
.nav-schedule li a .nav-desc{
    color: #626262;
}
.img-highlight {
    position: absolute;
    right: 15px;
    top: 20px;
}
/* end list nav sechdule */

/* list nav stage */
.nav-stage-list{
    list-style: none;
    margin-left: -10px;
}
.nav-stage-list li{
    display: block;
    margin-bottom: 20px;
}
.nav-stage-list li a {
    text-decoration: none;
}
.nav-stage-list li .row-stage{
    display: table;
    width: 100%;
}
.nav-stage-list li .row-image{
    float: left;
    width: 40%;
}
.nav-stage-list li .row-image img{
    display: block;
    width: 100%;
    height: 100px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
    border-radius: 7px;
}
.nav-stage-list li .row-text{
    float: right;
    width: 60%;
}
.nav-stage-list li .row-text .stage-title{
    display: block;
    color: #002C49;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}
.nav-stage-list li .row-text .stage-text{
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #626262;
}
.badge-stage {
    color: #FFF;
    background: var(--eventy-color-primary);
    padding: 4px 7px 2px 7px;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 8px;
    margin-left: 9px;
}
.btn-stage{
    color: #fff;
    background: var(--eventy-color-primary);
    border-radius: 6px;
    padding: 4px 16px;
    font-size: 12px;
    font-weight: 500;
    margin: 4px auto;
    margin-top: 8px;
    display: inline-block;
}
.btn-stage:focus,.btn-stage:hover{
    box-shadow: 1px 1px 1px #ddd;
    color: #fff;
    text-decoration: none;
}
/* end list nav stage */

/* nav list news */
.nav-news-list{
    list-style: none;
    margin-left: -10px;
}
.nav-news-list .message-list {
    color: #626262;
    background: #F5F5F5;
    padding: 18px 25px;
    font-size: 12px;
    line-height: 18px;
    margin: 10px auto;
}
.nav-news-list .message-list.msg-left {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 6px;
    margin-right: 10%;
}
.nav-news-list .message-list.msg-right {
    border-top-left-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    margin-left: 10%;
}
/* end nav list news */

.btn-primary, .wizard > .actions a {
    background-color: var(--eventy-color-primary);
    border-color: var(--eventy-color-primary);
}
.btn, .ajax-upload-dragdrop .ajax-file-upload, .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel, .wizard > .actions a {
    border-radius: 7px;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .wizard > .actions a:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .wizard > .actions a:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus, .wizard > .actions .show > a.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent;
    background-color: var(--eventy-color-primary);
    border-color: var(--eventy-color-primary);
}
.btn-primary:not(:disabled):not(.disabled):active, .wizard > .actions a:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .wizard > .actions a:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .wizard > .actions .show > a.dropdown-toggle {
    background-color: var(--eventy-color-primary);
    border-color: var(--eventy-color-primary);
}

.text-download-title{
    font-weight: 900;
    margin: 0;
    color: #002C49
}
.text-download-caption{
    color: #000;
}

.btn-download{
    background: #F5F5F5;
    padding: 7px 10px;
    border-radius: 50%;
    color: var(--eventy-color-primary);
    text-decoration: none;
    font-size: 1.4rem;
}
.btn-download:hover, .btn-download:focus{
    box-shadow: 0px 1px 3px #ddd;
    color: var(--eventy-color-primary);
}

.fa-caret-up {
    font-size: 22px;
}
.box-rotate {
    transform: rotate(131deg);
}

.list-q-title {
    font-size: 16px;
    color: #002C49;
    font-weight: bold;
    margin-bottom: 18px;
}
.list-q-option {
    list-style: none;
    margin-left: -10px;
}
.list-q-option li {
    margin-bottom: 19px;
}
.list-box {
    padding: 12px 26px;
    background: #ddd;
    border-radius: 8px;
    color: #fff;
    font-weight: lighter;
}
.list-box .fa {
    margin-right: 14px;
}

.news-top {
    max-height: 300px;
    overflow-x: auto;
}
.news-top::-webkit-scrollbar {
    width: 6px;
}
.news-top::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}
.news-top::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}

.menu-heading{
    list-style: none;
    margin: 0px 0px 12px 45px;
}
.menu-heading li {
    margin-bottom: 10px;
}
.menu-heading li a {
    display: block;
    text-decoration: none;
    color: #002C49;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 8px;
    border-bottom: 1px solid #F2F2F2;
}

/* UPLOAD FILE CUSTOM CSS */
/* HIDDEN INPUT */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
/* END HIDDEN INPUT */
/* LABEL */
.name-file{
    display: block;
    font-size: 15px;
    color: #7E96A4;
    font-weight: bold;
}
.inputfile + label img{
    height: 70px;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #959595;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: inline-block;
    font-size: 7px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    border: 2px dashed #F5F5F5;
    padding: 6px 20px;
    transition:.5s;
}
.inputfile + label i.fa-times{
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 12px;
    padding: 4px 5px;
    background: #FFF;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 50%;
    color: #707070;
}
.inputfile:focus + label,
.inputfile + label:hover, .inputfile + label:hover  img{
    /* border-color: #DDD; */
    transition:.5s;
    opacity: 1;
}
/* END LABEL */
/* CURSOR */
.inputfile + label {
    cursor: pointer;
    width: 90px;
}
/* END CURSOR */
.inputfile:focus + label {
    border-color: transparent;
    border-radius: 50%;
}
.inputfile:focus + label img{
    opacity: 1;
}
/* END UPLOAD FILE CUSTOM CSS */

.profil-heading, .profil-footer {
    padding: 20px 0px 21px 60px;
}
.profil-footer {
    /* position: fixed; */
    font-size: 12px;
    color: #9A9A9A;
    bottom: 0;
}
.img-heading {
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
}
.upload-heading {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}
.img-heading .fa-camera {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: -8px;
    right: -8px;
    padding: 11px;
    box-shadow: 1px 2px 7px #ddd;
    font-size: 18px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
}
.fa-camera{
    color: #828282;
}
.upload-heading + img {
    cursor: pointer;
    width: 90px;
    height: 85px;
    color: #959595;
    background-color: #F5F5F5;
    display: block;
    border-radius: 50%;
    font-size: 7px;
    font-weight: 600;
    line-height: 14px;
    transition: .5s;
    border: 1px solid #F5F5F5;
    -o-object-fit: contain;
       object-fit: contain;
}
.profil-heading .name {
    margin: 0;
    font-weight: bold;
    font-size: 23px;
    color: #000000;
}
.profil-heading .design {
    margin: 0;
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 14px;
    color: #9A9A9A;
}
.p-profil {
    margin: 30px auto;
}
.p-profil span {
    display: block;
}
.p-profil .title {
    font-size: 12px;
    color: #9A9A9A;
    font-weight: lighter;
    margin-bottom: 6px;
}
.p-profil .caption {
    font-size: 17px;
    font-weight: bold;
    color: #002C49;
}

.background-stage {
    height: 480px;
    width: 100%;
    max-width: 100%;
}
.img-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.background-stage img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.background-stage .text-top {
    position: absolute;
    top: 18%;
    right: 7%;
    display: block;
    width: 100%;
}

.btn-back, .btn-back:focus, .btn-back:hover {
    text-decoration: none;
    background: var(--eventy-color-secondary);
    color: #FFF;
    padding: 4px 10px 3px 10px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    margin: 0 auto;
    margin-right: 10px;
}

.list-video-booth {
    list-style: none;
    margin-left: -20px;
}
.list-video-booth li a {
    text-decoration: none;
}
.list-video-booth li a .wrapper {
    position: relative;
    padding: 12px 12px;
    border-radius: 8px;
    margin-right: 10px;
    transition: 0.7s;
}
.list-video-booth li a:hover .wrapper, .list-video-booth li a:focus .wrapper, .list-video-booth li a.active .wrapper {
    background: #F5F5F5;
    box-shadow: 0px 1px 8px #F5F5F5;
    transition: 0.7s;
}
.list-video-booth li a:hover .btn-play-video, .list-video-booth li a:focus .btn-play-video, .list-video-booth li a.active .btn-play-video {
    background: #FFF;
    transition: 0.7s;
}
.list-video-booth li a:hover .text-video-blue span, .list-video-booth li a:focus .text-video-blue span, .list-video-booth li a.active .text-video-blue span {
    display: none;
    transition: 0.7s;
}
.list-video-booth li a:hover .text-video-blue:before, .list-video-booth li a:focus .text-video-blue:before, .list-video-booth li a.active .text-video-blue:before {
    content: "On Playing Video";
    color: #FF5657;
    font-weight: lighter;
    transition: 0.7s;
}
.list-video-booth li a:hover .text-video-blue span {
    display: none;
    transition: 0.7s;
}
.list-video-booth li a:hover .text-video-blue:before {
    content: "On Playing Video";
    color: #FF5657;
    font-weight: lighter;
    transition: 0.7s;
}
.btn-play-video {
    background: #F5F5F5;
    color: var(--eventy-color-primary);
    padding: .8rem 1.6rem;
    font-size: 2.4rem;
    border-radius: 8px;
    box-shadow: 0px 1px 8px #F5F5F5;
}
.btn-play-video * {
    font-size: inherit;
}
.text-video-blue {
    color: var(--eventy-color-primary);
    font-size: 13px;
    font-weight: bold;
}

.list-brochure{
    list-style: none;
    margin-left: -20px;
}
.list-brochure li a {
    text-decoration: none;
}
.card--chat {
    min-height: 100%;
    overflow: hidden;
}
.scroll-chat{
    max-height: 270px;
    overflow-x: auto;
    margin-bottom: 0;
}
.scroll-chat::-webkit-scrollbar {
    width: 6px;
}
.scroll-chat::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}
.scroll-chat::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}

.btn-logout {
    background: var(--eventy-color-red);
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 17px;
    cursor: pointer;
}
.btn-edit-pass {
    background: var(--eventy-color-primary);
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 17px;
    cursor: pointer;
}
.time-map {
    background: #F8F8F8;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    padding: 4px 20px;
    border-radius: 10px;
}
.box-home-explore {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box-home-explore .box-explore {
    flex: 1;
    margin: 0 10px;
    text-decoration: none;
    /* width: 180px; */
    padding: 15px;
    height: 160px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 0px 6px #ddd;
    text-align: center;
    margin-bottom: 40px;
    transition: all .5s;
}
.box-home-explore .box-explore:hover {
    box-shadow: 0 0 15px 0 var(--eventy-color-primary);
}
.box-home-explore .box-explore img {
    width: 100px;
    height: 100px;
    background: transparent;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
.box-home-explore .box-explore span {
    color: #000000;
}
.btn-back-tohome,.btn-back-tohome:focus, .btn-back-tohome:hover {
    z-index: 1;
    background: #FFF;
    color: var(--eventy-color-primary);
    position: absolute;
    top: 30px;
    left: 4.5%;
    padding: 9px 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 2px 13px rgba(-100, -110, -38, 0.5);
    font-size: 14px;
    text-decoration: none;
}

.btn-side-back, .btn-side-back:hover, .btn-side-back:focus {
    background: #F2F2F2;
    color: #4C4C4C;
    padding: 4px 11px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
}

#side-profil {
	overflow-y: auto;
    max-height: 100vh;
}
#side-profil::-webkit-scrollbar {
    width: 6px;
}
#side-profil::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}
#side-profil::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}

#side-password {
	display: none;
}
#side-password .form-side {
	padding: 30px 60px 21px 50px;
}
#side-password .form-side label {
	color: #A0A0A0;
    font-size: 12px;
    margin: 8px auto;
    display: block;
}

.disabled-content {
	pointer-events: all;
	opacity: 0.8;
}
.disabled-content:focus, .disabled-content:hover {
	cursor: not-allowed;
}

.container-box, .container-booth {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.swal2-popup.swal2-toast {
    padding: 1.5rem 4rem !important;
}

.dropdown-toggle::after {
    display: none;
}
.page-body-wrapper {
    padding-top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.content-center {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    top: 88px;
}

/* navbar */
.nav-pills .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
    font-weight: 600;
    padding: 13px 17px;
    color: #002C49;
    border-radius: 8px;
    margin: auto 4px;
    background: #F2F2F2;
}
.tab-solid-primary .nav-link.active {
    background: var(--eventy-color-primary);
}
/* end navbar */

.card-title {
    color: #000000;
    margin-bottom: 24px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: var(--eventy-font-family);
    line-height: 36px;
}

.form-group .input-group .form-control:focus {
    background: transparent;
    color: #333;
    border: solid 1px #F5F5F5;
}

.card {
    /* box-shadow: 0 0 15px 0 #f1f1f1; */
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 20px;
    background-color: #fff;
    border-radius: 6px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    width: 100%;
    color: #092B49;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card .card-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-bottom-color: #f9f9f9;
    margin-bottom: 0;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
}
.card .card-body {
    padding: 3rem;
}
.card-title:empty {
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
}
.icon-back,
.icon-back:hover,
.icon-back:active,
.icon-back:focus {
    background-color: var(--eventy-color-primary);
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 15px;
    display: flex;
}
.icon-back > * {
    margin: auto;
    margin-right: 12px;
}
.btn-save,
.btn-save:focus,
.btn-save:hover,
.btn-save:active {
    background-color: var(--eventy-color-primary);
    border: 1px solid var(--eventy-color-primary);
    color: #fff;
    border-radius: 15px!important;
    font-weight: bold!important;
    box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
    margin: auto;
    margin-bottom: 50px;
    font-size: 16px!important;
    padding: 7px 4rem!important;
    outline: none;
}
.btn-save-outline {
    color: var(--eventy-color-primary);
    background-color: transparent;
}
.btn-save-more,
.btn-save-more:focus,
.btn-save-more:hover,
.btn-save-more:active {
    background-color: transparent;
    color: var(--eventy-color-green);
    border-radius: 15px!important;
    font-weight: bold!important;
    margin: auto;
    margin-bottom: 50px;
    font-size: 16px!important;
    padding: 7px 15px!important;
    outline: none;
}
.square-box-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}
.square-box-loader-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    -webkit-animation: dyinglight 1s ease infinite;
            animation: dyinglight 1s ease infinite;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.square-box-loader-square {
    display: block;
    width: 30px;
    height: 30px;
    background: var(--eventy-color-primary);
}
.settings-panel {
    display: block;
    position: fixed;
    top: 58px;
    right: -300px;
    bottom: 0;
    width: 300px;
    height: 100vh;
    min-height: 100%;
    background: #ffffff;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-property: right;
    z-index: 9999;
}
.settings-panel{
    top: 0px;
    width: 420px;
    right: -450px;
}
.settings-panel.open {
    right: 0;
    -webkit-box-shadow: 7px 0 80px -9px rgb(0 0 0 / 15%);
    -moz-box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.15);
    box-shadow: 7px 0 80px -9px rgb(0 0 0 / 15%);
}
.settings-panel .settings-close {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #ffffff;
    border-radius: 4px;
    padding: 0 3px;
    cursor: pointer;
    transition-duration: 0.2s;
    z-index: 999;
}
.settings-panel .settings-close {
    color: #4C4C4C;
    background: #F2F2F2;
    padding: 0px 8px;
    font-size: 15px;
    font-weight: bold;
}
.settings-panel .settings-close:hover {
    background: #E5E9ED;
}
.settings-panel .settings-heading {
    padding: 16px 0 13px 35px;
    font-size: 0.875rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
    margin-bottom: 0;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}
.settings-panel .settings-heading {
    padding: 38px 0px 21px 60px;
    border-top: none;
    border-bottom: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    color: #002C49;
}
#theme-settings .settings-close {
    top: 32px;
    right: 25px;
}
.settings-panel .sidebar-bg-options {
    padding: 13px 60px;
}



/* ============================================================================================
    Main Stage
============================================================================================  */

.nav-news-list.scroll-schedule,
.list-video-booth {
    max-height: 250px;
    min-height: 250px;
}

.img-sm {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}
.img-md {
    width: 60px;
    height: 60px;
}
.pre {
    white-space: pre;
}

.tab-content {
    padding: 37px 18px 15px 24px;
    font-size: 0.875rem;
    line-height: 1.71;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
}
.tab-minimal-success .nav-pills .nav-item .nav-link,
.tab-minimal-success .nav-tabs .nav-item .nav-link {
    background: transparent;
    color: var(--eventy-color-primary);
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
}

.tab-minimal-success .nav-tabs .nav-item .nav-link.active {
    color: var(--eventy-color-primary);
}

.tab-minimal-success .nav-tabs .nav-item .nav-link.active + span {
    height: 4px;
    width: 45px;
    background: #ade3ff;
    display: block;
    margin: auto 4px;
}

.tab-minimal-success .tab-content {
    padding: 0;
    padding-top: 15px;
    border-color: transparent;
}

.congral-text {
    color: var(--eventy-color-primary);
    background: #f5fafc;
    border-radius: 8px;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
}

/*------------------------------------------------------------------
  Backoffice
-------------------------------------------------------------------*/
.dashboard-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}
.dashboard-cog {
    display: flex;
    color: var(--eventy-color-primary);
    width: 58px;
    height: 58px;
    margin-bottom: 10px;
}
.dashboard-cog * {
    margin: auto;
    font-size: 5rem;
}
.dashboard-title {
    color: #092B49;
    font-family: var(--eventy-font-family-semibold);
    margin-bottom: 1rem;
}
.dashboard-caption {
    color: #50687E;
    margin-bottom: 0;
}
.img-booth-stand {
    width: 100%;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 1.4rem;
}
.text-danger {
    color: #a94442;
}
.max-scroll-chat {
    min-height: 720px;
    max-height: 720px;
    overflow-x: auto;
    padding-right: 15px;
}
.max-scroll-chat::-webkit-scrollbar {
    height: .6em;
    width: .6em;
}
.max-scroll-chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #FAFAFA;
    border-radius: 4px;
}

.max-scroll-chat::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}
.chat-panel-right {
    background-color: #FBFBFB;
    bottom: 0;
    right: 0;
    top: 0;
    position: absolute;
    padding-top: 2rem;
}
.wrapper-text {
    margin-bottom: 1rem;
    width: 100%;
}
.wrapper-text .wrapper-content {
    background-color: #F5F5F5;
    padding: .8rem 1rem;
    display: inline-block;
    margin-bottom: .5rem;
}
.wrapper-text .wrapper-content p {
    font-size: 14px;
    word-break: break-word;
}
.wrapper-text .time {
    font-size: 10px;
    color: #777;
    display: block;
}
.wrapper-text .msg-right a {
    color: #56b9dc;
}
.wrapper-text .msg-left a {
    color: #56b9dc;
}
.msg-left {
    border-radius: 15px;
    border-top-left-radius: 0;
}
.msg-right {
    border-radius: 15px;
    border-top-right-radius: 0;
}
.panel-chat {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.active-chat {
    background-color: #f9f9f9;
    margin-right: -15px;
}
.panel-chat li {
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.panel-chat li img {
    border: 1px solid #c8c8c8;
}
.panel-chat li p {
    color: #888888;
}
.chat-list {
    padding: 0;
    list-style: none;
}
.search {
    padding: .7rem 1.9rem;
}
.btn-manage {
    display: block;
    border-radius: 6px;
    background: var(--eventy-color-primary);
    padding: 1.2rem 1.5rem;
    text-align: center;
    color: #fff;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: .5s all;
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    box-shadow: 0px 15px 20px -8px var(--eventy-color-primary-light);
}
.upload-attachment {
    border-radius: 6px;
    background-color: var(--eventy-color-primary);
    padding: .7rem 1rem;
    position: relative;
    text-align: center;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.upload-attachment:hover,
.upload-attachment .input-attachment {
    cursor: pointer;
}

.upload-attachment .input-attachment {
    position: absolute;
    cursor: pointer;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.compose-message,
.compose-message:focus {
    background-color: #fff !important;
    border: none !important;
}
.btn-edit-desc {
    background-color: var(--eventy-color-primary);
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 0px 15px 20px -8px var(--eventy-color-primary-light);
    border-radius: 6px;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
}
#btn_export_data {
    background-color: var(--eventy-color-primary);
    padding: .8rem 3rem;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    border-radius: 6px;
    box-shadow: 0px 15px 20px -8px var(--eventy-color-primary-light);
}
.btn-add-data,
.btn-add-data:hover {
    background-color: var(--eventy-color-green);
    box-shadow: rgba(0, 0, 0, .5) 0 5px 10px;
    padding: 7px 10px!important;
    outline: none;
    border-radius: 15px;
    color: #fff;
}
.btn-edit,
.btn-edit:hover {
    background-color: var(--eventy-color-green);
    border-color: var(--eventy-color-green);
}
.btn-edit-desc:hover,
#btn_export_data:hover,
.btn-manage:hover {
    background-color: var(--eventy-color-primary-dark);
    box-shadow: none;
    color: #fff;
}
.btn-delete,
.btn-delete:hover {
    background-color: var(--eventy-color-red);
}
.btn-detail,
.btn-detail:hover {
    background-color: var(--eventy-color-primary);
}

#dataTable tr td {
    vertical-align: middle;
}
.table-detail tr td:first-child {
    font-weight: bold;
    width: 25%;
}
.dropdown-menu  {
    font-size: 1.4rem;
}

.card-item-list {
    font-weight: bold;
}
.card-item-list .text-title {
    font-size: 13px;
    color: #C5C5C5;
    margin: 0;
}
.card-item-list .text-caption * {
    font-weight: bold;
}
.card-item-list .text-caption .total-text {
    color: #002C49;
    font-size: 3.9rem;
}
.card-item-list .text-caption .line-text {
    color: #002C49;
    text-transform: capitalize;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.preview-list {
    list-style: none;
    margin-left: -13px;
    margin-right: -13px;
    max-height: 650px;
    min-height: 300px;
    overflow-x: auto;
    padding-left: 1.5rem;
}

.preview-list::-webkit-scrollbar {
    width: 6px;
}

.preview-list::-webkit-scrollbar-track {
    background-color: #FAFAFA;
    border-radius: 4px;
}

.preview-list::-webkit-scrollbar-thumb {
    background-color: #F1F1F1;
    border-radius: 4px;
}

.preview-list li {
    margin: 5px auto;
    padding: 5px 10px;
    transition: 0.7s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.preview-list li:hover,
.preview-list li:focus,
.preview-list li.active {
    background: #FBFBFB;
    transition: 0.7s;
    cursor: pointer;
}

.preview-list li:hover .preview-item-content p,
.preview-list li:focus .preview-item-content p,
.preview-list li.active .preview-item-content p {
    color: #C9C9C9;
    transition: 0.7s;
}
.preview-list .preview-item .preview-thumbnail {
    color: #ffffff;
    position: relative;
}
.preview-list .preview-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
}
.preview-list .preview-item:hover {
    background: transparent;
}

.preview-list .preview-item:last-child {
    border: none;
}

.preview-list .preview-item .preview-thumbnail .preview-icon,
.preview-list .preview-item .preview-thumbnail img {
    width: 55px;
    height: 55px;
}
.preview-list .preview-item .preview-item-content {
    line-height: 1;
    padding-left: 15px;
}
.preview-list .preview-item .preview-item-content .preview-subject {
    color: #002E4B;
    font-weight: bold;
    font-size: 17px;
}

.preview-list .preview-item .preview-item-content p {
    margin-top: 13px;
    color: #696969;
    font-weight: lighter;
    font-size: 15px;
}

.preview-list .preview-item .preview-thumbnail span.offline {
    background: transparent;
}

.preview-list .preview-item .preview-thumbnail span.online {
    background: #FF0000;
}

.preview-list .preview-item .preview-thumbnail span {
    height: 14px;
    width: 14px;
    position: absolute;
    top: -2px;
    right: -2px;
    border: none;
    border-radius: 100%;
}

.action-attachment {
    position: absolute;
    right: 0;
    padding: 10px;
    background-color: #fff;
}

@media (min-width: 1200px) {
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-center {
        margin: 0 auto;
    }
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-center, .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        display: flex!important;
    }
    .content-wrapper {
        padding: 1.5rem;
    }
    .dashboard-info {
        flex-direction: row;
    }
    .dashboard-cog {
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .navbar .navbar-brand-wrapper .brand-logo-mini {
        display: none;
    }
    .sidebar-hidden .main-panel {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container-box,.container-booth {
        width: 750px;
    }
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand-wrapper .brand-logo {
        display: none;
    }
    .chat-content {
        margin-top: 2rem;
    }
    .chat-panel-right {
        position: relative;
    }
    .content-center {
        margin: auto;
    }
}
@media only screen and (max-width: 575.98px) {
    .card-body > .card-title {
        font-size: 2rem;
        margin-left: -10px;
    }
}
@media only screen and (max-width: 380px) {
    .settings-panel {
        width: 355px;
    }
}

.icon-group-default {
    border-radius: 6px;
    background: rgba(40, 183, 251, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
}
.icon-group-default--visitor {
    width: 12rem;
    height: 12rem;
}
.icon-group-default--item {
    background: #fff;
}
.icon-group-default--product {
    width: 8rem;
    height: 8rem;
}

.display {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    padding: 2.5rem 3rem;
    display: flex;
    justify-content: space-between;
}
.display__information,
.display__preview {
    display: flex;
    align-items: center;
    flex-basis: 50%;
}
.display__information__title {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-bold);
    margin-bottom: 1rem;
    color: var(--eventy-color-primary);
}
.display__information__desc {
    font-size: 1.2rem;
    color: #4F4F4F;
}
.display__preview {
    justify-content: end;
}
.display__preview__btn-group {
    background: #EFF2F6;
    border-radius: 6px;
    padding: 1.5rem 3rem;
    color: var(--eventy-color-primary);
    display: flex;
    justify-content: space-between;
}
.display__preview__btn {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    color: var(--eventy-color-primary);
}
.display__preview__btn:hover {
    color: var(--eventy-color-primary);
}
.display__preview__btn:first-child {
    padding-right: 2rem;
    border-right: 1px solid var(--eventy-color-primary);
}
.display__preview__btn:last-child {
    padding-left: 2rem;
}
.display__preview__btn span {
    white-space: nowrap;
}


.placeholder-form__label {
    font-size: 1rem;
}
.placeholder-form__label span {
    color: #D20000;
}
.placeholder-form__inner {
    background: #F3F3F3;
    border-radius: 6px;
    padding: .5rem 1.5rem;
}
.placeholder-form__inner p {
    font-size: 1.4rem;
    margin-bottom: 0;
}
.placeholder-form__inner--description {
    min-height: 25rem;
}
.placeholder-form__alert {
    font-size: 1rem;
    color: #D20000;
    opacity: .5;
    margin-top: 1rem;
}


.visitor__title-text {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-semibold);
    color: var(--eventy-color-primary);
    margin-bottom: 0;
}


.card-list {
    margin-bottom: 3rem;
}
.card-list__title {
    font-size: 1.4rem;
    color: #4F4F4F;
}
.card-list__item {
    min-height: 30rem;
    max-height: 30rem;
    overflow-x: auto;
    margin-bottom: 0;
    padding-right: 1.2rem;
    padding-left: 0;
}
.card-list__item::-webkit-scrollbar {
    width: 3px;
}
.card-list__item::-webkit-scrollbar-track {
    background-color: rgba(167, 172, 180, .2);
    border-radius: 2.5px;
}
.card-list__item::-webkit-scrollbar-thumb {
    background-color: #A7ACB4;
    border-radius: 2.5px;
}
.card-list__detail {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px -8px #ccc;
}
.card-list__detail:not(:last-child) {
    margin-bottom: 1.5rem;
}
.card-list__detail__info {
    background: #F9F8F8;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 1.2rem 2rem;
    flex: 1;
}
.card-list__detail__info__title,
.card-list__detail__info__cat {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    margin-bottom: .5rem;
}
.card-list__detail__info__subtitle {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium);
    color: #828282;
    margin-bottom: 0;
}
.card-list__detail__info__cat {
    font-style: italic;
    font-size: 1.3rem;
}
