
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
.login-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}

[v-cloak] {display: none;}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
.wrap-input100 input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    opacity: 0;
}

input:focus:-moz-placeholder {
    -moz-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    opacity: 0;
}

input:focus::-moz-placeholder {
    -moz-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    opacity: 0;
}

input:focus:-ms-input-placeholder {
    -ms-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #B2B2B2;
}

input:-moz-placeholder {
    color: #B2B2B2;
}

input::-moz-placeholder {
    color: #B2B2B2;
}

input:-ms-input-placeholder {
    color: #B2B2B2;
}

textarea::-webkit-input-placeholder {
    color: #B2B2B2;
}

textarea:-moz-placeholder {
    color: #B2B2B2;
}

textarea::-moz-placeholder {
    color: #B2B2B2;
}

textarea:-ms-input-placeholder {
    color: #B2B2B2;
}

label {
    margin: 0;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

.logo-img {
    height: 120px;
    display: block;
    -o-object-fit: fill;
       object-fit: fill;
    margin: auto;
}

/*==================================================================
[ Text ]*/
#forgotPassword {
    font-size: 1.2rem;
    float: right;
    color: var(--eventy-color-primary);
}
.txt1 {
    font-size: 13px;
    line-height: 1.4;
    color: #555555;
}

.txt2 {
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.txt3 {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.copyright {
    color: #fff;
    font-size: 14px;
}

/*==================================================================
[ Size ]*/
.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {
    background: #3b5998;
}

.bg2 {
    background: #1da1f2;
}

.bg3 {
    background: #cd201f;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.wrap-login100 {
    width: 100%;
    background: #fff;
    display: flex;
    /*overflow: auto;*/
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column-reverse;
}

@media (min-width: 992px) {
    .wrap-login100 {
        overflow: hidden;
        flex-direction: row-reverse;
        /*flex-direction: column-reverse;*/
    }
}

/*==================================================================
[ login more ]*/
.login100-more {
    width: calc(90% - 545px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

/*==================================================================
[ Form ]*/
.login-register-image {
    padding: 1.5rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 992px) {
    .login-register-image {
        height: 100vh;
        padding: 0;
    }
}
.login-register-image-w-header {
    max-height: calc(100vh - var(--header-height));
}
.login-register-image img {
    width: 100%;
    border-radius: 6px;
}


.login100-form {
    padding: 8rem 10rem;
    height: 100vh;
    display: block;
    position: relative;
    overflow-x: hidden;
}
.login100-form-w-header {
    max-height: calc(100vh - var(--header-height));
}

.login100-form-title {
    font-family: var(--eventy-font-family-semibold);
    font-size: 1.6rem;
    line-height: 19px;
    margin-bottom: 8px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    border: none;
}

.wrap-input100.float-input .ic-label {
    color: #B2B2B2;
    display: flex;
    position: absolute;
    left: 2rem;
    top: 0;
    bottom: 0;
}
.wrap-input100.float-input .ic-label > * {
    margin: auto;
}

.wrap-input100.first-child {
    border: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-input100.last-child {
    border: 1px solid #E6E6E6;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrap-input100.normal {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.label-input100 {
    font-size: 1.4rem;
    margin-bottom: 8px;
}
.label-input100 .required {
    color: #F70000;
}

.input100 {
    display: block;
    width: 100%;
    background: #EFF2F6;
    color: #2C2C2C;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    border-radius: 6px;
    border: none;
    height: 4.5rem;
}
select.input100 option:first-child,
.not-selected{
    color: #B2B2B2;
}
select.input100:focus {
    border: none;
    outline: none;
    color: #484848;
}

/* .input100[type="password"] {
    font-size: 55px;
} */

input.input100 {
    transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    left: -1px;
    pointer-events: none;

    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleX(1.1) scaleY(1.3);

    height: calc(75% + 2px);
    top: 10px;
    border: none;
    border-left: 7px solid var(--eventy-color-primary);
    border-radius: 0;
}

.input100:focus + .focus-input100 {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
    display: none;
}

.label-checkbox100 {
    font-family: 'Inter-Regular';
    font-size: 13px;
    color: #999999;
    line-height: 1.4;

    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}

.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #6675df;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
    color: #6675df;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: block;
}
.back-login {
    font-size: 1.2rem;
}
.back-login strong {
    color: var(--eventy-color-primary);
}

.login100-form-btn,.login100-form-blue,
.login100-form-outline-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 5rem;
    border-radius: 6px;
    font-family: var(--eventy-font-family-semibold);
    font-size: 1.4rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.4s;
    line-height: 17px;
}

.login100-form-btn {
    border-radius: 10px;
    background: var(--eventy-color-primary);
    border: 2px solid var(--eventy-color-primary);
}

.login100-form-blue {
    border-radius: 10px;
    background: var(--eventy-color-secondary);
    color: white;!important;
    border: 2px solid var(--eventy-color-secondary);
}


.login100-form-btn:hover {
    color: #fff;
    box-shadow: 1px 1px 1px #ddd;
}

.login100-form-blue:hover {
    color: white;
    box-shadow: 1px 1px 1px #ddd;
}

.login100-form-outline-btn {
    background: transparent;
    border: 2px solid var(--eventy-color-primary);
    color: var(--eventy-color-primary);
}

.login100-form-outline-btn:hover {
    background: var(--eventy-color-primary);
    color: #FFF;
    box-shadow: 1px 1px 1px #ddd;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
    .login100-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 35px;
        overflow-x: unset!important;
    }

    .login100-form-mobile{
        height: 123vh;
        overflow: unset!important;
    }

    .login100-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .login100-form {
        width: 100%;
        padding-left: 30px !important;
        padding-right: 30px !important;
        overflow-x: unset!important;
    }

    .login100-form-mobile{
        height: 123vh;
        overflow: unset!important;
    }

    .login100-more {
        display: none;
    }
}

@media (max-width: 576px) {
    body.swal2-toast-shown .swal2-container.swal2-top {
		transform: translateX(0)!important;
		right: 0!important;
		left: 0!important;
	}
    .login100-form {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        overflow-x: unset;
    }

    .login100-form-mobile{
        height: 123vh;
        overflow: unset!important;
    }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    z-index: 100;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 70%;
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\2757";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    z-index: 110;
    color: #c80000;
    font-size: 16px;
    top: 70%;
    transform: translateY(-50%);
    right: 18px;
}
.wrap-phone .alert-validate::before,
.wrap-phone .alert-validate::after {
    top: 50%;
}
.wrap-phone .phone-prefix.alert-validate::before,
.wrap-phone .phone-prefix.alert-validate::after {
    font-size: 7px;
    max-width: 100%;
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

.auth-tabs {
    display: flex;
    border: 1px solid var(--eventy-color-primary);
    border-radius: 6px;
}
.auth-tabs__item {
    flex: 1;
    text-align: center;
    color: var(--eventy-color-primary);
    font-size: 1.4rem;
    padding: 1rem 3rem;
    font-family: var(--eventy-font-family-medium);
}
.auth-tabs__item.active {
    color: #fff;
    background-color: var(--eventy-color-primary);
    border-radius: 6px;
    cursor: default;
}
.auth-tabs__item.disabled,
.auth-tabs__item.disabled:hover {
    cursor: default;
    color: var(--eventy-color-primary);
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.checkbox-container input[type="checkbox"] {
    display: none;
}
.checkbox-container label {
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    padding-top: 5px;
    font-size: 12px;
    user-select: none;
}
.checkbox-container label:before,
.checkbox-container label:after {
    content: '';
    position: absolute;
    transition: all 0.3s ease;
}
.checkbox-container label:before {
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    background: white;
}
.checkbox-container input[type="checkbox"]:checked + label:before {
    background: #007BFF;
}
.checkbox-container label:after {
    left: 7px;
    top: 3px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.checkbox-container input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.blue-text {
    color: #007BFF;
}

.red-text {
    color: #D20000!important;
}



/**/
.parent-phone {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.nation-phone {
    padding: 12px;
    display: block;
    background: #EFF2F6;
    color: #2C2C2C;
    font-size: 1.4rem;
    border-radius: 12px 0px 0px 12px;
    height: 4.5rem;
}

.phone-pre {
    padding: 12px;
    margin-left: -12px;
    display: block;
    position: relative;
    background: #EFF2F6;
    color: #2C2C2C;
    font-size: 1.4rem;
    height: 4.5rem;
}

.only-0{
    border-radius: 0px 12px 12px 0px;!important;
    padding: 0!important;
}

