.channel-box {
    max-height: 100%;
}
.payment-summary-box {
    border-radius: inherit;
    min-height: 30rem;
    padding: 4rem 3rem;
    background-color: #fff;
}
.summary-header {
    text-align: center;
}
.summary-header hr {
    border-width: 2px;
    border-color: #A7ACB4;
}
.summary-title {
    font-family: var(--eventy-font-family-semibold);
    font-size: 1.4rem;
    margin-bottom: 4rem;
}
.summary-body li {
    padding-left: 1.5rem;
    position: relative;
    display: flex;
}

.summary-list hr{
    border-width: 2px;
    border-color: #A7ACB4;
}
.summary-body li::before {
    content: "·";
    font-size: 4rem;
    vertical-align: middle;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 5px;
}
.summary-key {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.summary-value {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
}

.btn--status {
    border-radius: 6px;
    cursor: default;
    text-transform: capitalize;
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-font-size: 1.4rem;
}
.btn.btn--notyet {
    --bs-btn-bg: #D20000;
    --bs-btn-border-color: #D20000;
    --bs-btn-hover-bg: #D20000;
    --bs-btn-hover-border-color: #D20000;
    --bs-btn-active-bg: #D20000;
    --bs-btn-active-border-color: #D20000;
    --bs-btn-disabled-bg: #D20000;
    --bs-btn-disabled-border-color: #D20000;
}
.btn.btn--waiting {
    --bs-btn-color: #2C2C2C;
    --bs-btn-hover-color: #2C2C2C;
    --bs-btn-bg: #FFD166;
    --bs-btn-border-color: #FFD166;
    --bs-btn-hover-bg: #FFD166;
    --bs-btn-hover-border-color: #FFD166;
    --bs-btn-active-bg: #FFD166;
    --bs-btn-active-border-color: #FFD166;
    --bs-btn-disabled-bg: #FFD166;
    --bs-btn-disabled-border-color: #FFD166;
}
.btn.btn--pending {
    --bs-btn-bg: #F97226;
    --bs-btn-border-color: #F97226;
    --bs-btn-hover-bg: #F97226;
    --bs-btn-hover-border-color: #F97226;
    --bs-btn-active-bg: #F97226;
    --bs-btn-active-border-color: #F97226;
    --bs-btn-disabled-bg: #F97226;
    --bs-btn-disabled-border-color: #F97226;
}
.btn.btn--success {
    --bs-btn-bg: #30CA22;
    --bs-btn-border-color: #30CA22;
    --bs-btn-hover-bg: #30CA22;
    --bs-btn-hover-border-color: #30CA22;
    --bs-btn-active-bg: #30CA22;
    --bs-btn-active-border-color: #30CA22;
    --bs-btn-disabled-bg: #30CA22;
    --bs-btn-disabled-border-color: #30CA22;
}
.btn.btn--expired {
    --bs-btn-bg: #8f3232;
    --bs-btn-border-color: #8f3232;
    --bs-btn-hover-bg: #8f3232;
    --bs-btn-hover-border-color: #8f3232;
    --bs-btn-active-bg: #8f3232;
    --bs-btn-active-border-color: #8f3232;
    --bs-btn-disabled-bg: #8f3232;
    --bs-btn-disabled-border-color: #8f3232;
}

.caption-text {
    font-size: 1.4rem;
}
.caption-text.info {
    margin-top: 3rem;
}
.copy-element {
    display: flex;
}
.copy-button {
    font-size: 1.4rem;
    font-weight: bold;
    color: #444444;
    margin-top: auto;
    margin-bottom: 5px;
}
.text-button {
    cursor: pointer;
    font-weight: bold;
    color: var(--eventy-color-primary);
    font-size: 1.5rem;
}
.summary-footer {
    text-align: center;
    margin-top: 3rem;
}
.btn-change-method {
    border: 1px solid #D20000;
    color: #D20000;
    border-radius: 6px;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    transition: all .3s;
}
.btn-change-method:hover {
    background-color: #D20000;
    color: #fff;
}
.redirect-text {
    font-style: italic;
    font-size: 1.6rem;
}
