.input-group-file {
    background-color: #EFF2F6;
    border-radius: 6px;
    height: 4.5rem;
    padding: 0 1.5rem;
}
#fileLocation {
    font-size: 1.4rem;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    left: 180px;
    right: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0;
}
#btnCheck {
    position: absolute;
    right: 0;
    top: 20px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: .4rem 1.5rem;
}

.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile-1 + label {
    color: #fff;
    background-color: #D20000;
    border-radius: 6px;
    box-shadow: 0px 1px 1px #ddd;
    margin: .8rem 0;
}
.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #D20000;
}
.wrap-input100 .info,
.wrap-input100 .info {
    font-size: 1.2rem;
    color: #D20000;
    font-style: italic;
}
.label-upload {
    top: 20px;
}

@media (max-width: 480px) {
    .wrap-input100 .info, .wrap-input100 .info {
        font-size: 1rem;
    }
}
