.ticket-section, .participant-section, .total-price, .actions {
    margin-bottom: 20px;
}

.ticket-info {
    background: var(--eventy-color-secondary);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    align-self: stretch;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.participant-info {
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-self: stretch;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
}

.participant-icon-add {
    max-width: 17px;
    max-height: 17px;
}

.participant-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.participant-actions {
    display: flex;
    gap: 10px;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #D3D4D9;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #D3D4D9;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--eventy-color-primary);
}

/* Customize the label (the container) */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #D3D4D9;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: white;
    border: solid;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    background-color: black;
    left: 0.15rem!important;
    top: 0.15rem!important;
}

.container-checkbox strong {
    font-family: var(--eventy-font-family-bold);
    color: var(--eventy-color-primary);
}

.phone-prefix {
    flex-basis: 30%;
}

/*new interest views*/
/* Container for the entire section */
.custom-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Blue background styling */
.checked-background {
    background-color: #28B7FB;
    color: white; /* White text color for better readability */
    border-radius: 12px;
}

/* Label style */
.custom-label {
    font-size: 14px;
    color: black; /* White text color */
    margin-bottom: 10px;
    display: block;
}

/* Container for checkboxes, using CSS Grid for alignment */
.custom-checkbox-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Gap between checkboxes */
}

/* Style for each checkbox item */
.custom-checkbox {
    display: flex;
    align-items: center;
    color: #333; /* Checkbox text color */
    font-size: 14px;
    cursor: pointer;
}

/* Hide default checkbox input */
.custom-checkbox input {
    opacity: 0;
    position: absolute;
}

/* Custom checkbox design */
.custom-checkbox label {
    padding: 8px;
    border: solid;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    width: 100%;
    min-height: 6rem;
    position: relative;
    cursor: pointer;
}

/* Custom checkbox appearance */
.custom-checkbox label:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    height: 10%;
}

/* Checked state */
.custom-checkbox input:checked + label:before {
    background-color: #3498db; /* Adjust color for checked state */
    border-color: #3498db;
}

/* Checked state checkmark */
.custom-checkbox input:checked + label:after {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

/* Hover state */
.custom-checkbox label:hover:before {
    background-color: #f0f0f0;
}

.form-coupon{
    padding-bottom: 3rem;
}

.coupon-label{
    font-size: 14px;
    font-family: var(--eventy-font-family-semibold);
}

.coupon-container {
    width: 100%;
    max-width: 480px; /* Adjust as needed */
    display: flex;
    gap: 10px; /* Space between input and button */
}

.coupon-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    font-family: var(--eventy-font-family-semibold);
    font-size: 14px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.coupon-button {
    padding: 10px 15px;
    border: none;
    background-color: var(--eventy-color-primary);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: var(--eventy-font-family-semibold);
}

.coupon-button:hover {
    background-color: var(--eventy-color-secondary);
}

.coupon-input::placeholder {
    color: #888;
}

.discount-summary {
    border-bottom: 2px solid rgb(196, 196, 196);
    padding-bottom: 1.5rem;
}

.total-title-free {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
}

.total-title {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    margin-bottom: 0;
}

.total-nominal {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    color: var(--eventy-color-secondary);
    margin-bottom: 0;
}

.panel-payment {
    padding: 2rem 1.5rem;
    border-top: 1px solid #A7ACB4;
    position: relative;
}

.panel-payment:last-child {
    border-bottom: 1px solid #A7ACB4;
}

.panel-payment.classroom {
    border: 1px solid #A7ACB4;
    border-radius: 6px;
}

.panel-payment.classroom:not(:last-child) {
    margin-bottom: 2rem;
}

.classname {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
}

.classdate {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.classcategories {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: var(--eventy-color-primary);
}

.classsoldout {
    padding: 0 1.2rem;
    font-size: 1.4rem;
    color: red;
}

.classnominal {
    color: var(--eventy-color-secondary);
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
}

.classnominal_dummy {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
    color: #727272;
    font-style: normal;
    text-decoration-line: line-through;
    margin-right: 1rem;
}

.classnominal span {
    font-size: 12px;
    font-style: italic;
    color: #F70000;
}

.btn-add-to-cart {
    --bs-btn-color: var(--eventy-color-secondary);
    --bs-btn-border-color: var(--eventy-color-secondary);
    --bs-btn-hover-bg: var(--eventy-color-secondary);
    --bs-btn-hover-border-color: var(--eventy-color-secondary);
    --bs-btn-active-bg: var(--eventy-color-secondary);
    --bs-btn-active-border-color: var(--eventy-color-secondary);
    --bs-btn-border-radius: 6px;
    --bs-btn-font-size: 1.2rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-family: var(--eventy-font-family-semibold);
    white-space: nowrap;
}

.btn-add-to-cart.active {
    --bs-btn-color: #fff;
    --bs-btn-border-color: var(--eventy-color-secondary);
    --bs-btn-hover-bg: var(--eventy-color-secondary);
    --bs-btn-hover-border-color: var(--eventy-color-secondary);
    --bs-btn-active-bg: var(--eventy-color-secondary);
    --bs-btn-active-border-color: var(--eventy-color-secondary);
}

.btn-add-to-card.disabled {
    --bs-btn-color: #CCD1D8;
    --bs-btn-border-color: #CCD1D8;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #CCD1D8;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #CCD1D8;
}

.btn-detail-session {
    font-size: 1.2rem;
    color: var(--eventy-color-primary);
    margin-top: 1rem;
}

.btn-detail-session * {
    font-family: var(--eventy-font-family-medium);
}

.btn-detail-session:hover {
    color: var(--eventy-color-primary);
}

.btn-detail-session .text-not-collapsed,
.btn-detail-session:not(.collapsed) .text-collapsed {
    display: none;
    color: #D20000;
}

.btn-detail-session.collapsed .text-collapsed {
    display: inline;
}

.btn-detail-session:not(.collapsed) .text-not-collapsed {
    display: inline;
}

.panel-session {
    border-top: 1px solid #A7ACB4;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.panel-session__name {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 0;
}

.panel-session__date,
.panel-session__time {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: right;
}

.panel-session__time {
    text-align: right;
}

.channel-title {
    font-size: 1.6rem;
    color: #092c49;
    font-weight: bold;
    margin-bottom: 1rem;
}

.channel-box {
    background-color: #F1F1F1;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #E1E1E1 inset;
    max-height: 410px;
    overflow-x: hidden;
}

.channel-panel,
.channel-group {
    padding: 2rem;
    border: 2px solid #f2f2f2;
    background-color: #F9F9F9;
    border-radius: 10px;
    position: relative;
}

.channel-panel:not(:last-child),
.channel-group {
    margin-bottom: 1rem;
}

.channel-panel {
    cursor: pointer;
}

.channel-panel .channel-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #484848;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    margin: auto;
    display: flex;
}

.channel-panel .channel-circle span {
    width: 7px;
    height: 7px;
    background-color: #fff;
    margin: auto;
    border-radius: 50%;
}

.channel-panel.active .channel-circle,
.channel-panel.active .channel-circle span {
    border-color: var(--eventy-color-primary);
}

.channel-panel.active .channel-circle span {
    background-color: var(--eventy-color-primary);
}

.channel-group-title {
    align-items: center;
    position: relative;
}

.channel-list {
    margin: -2rem;
    margin-top: 3rem;
    padding: 2rem;
    padding-bottom: 0;
    display: none;
    background-color: #F8F8F8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.channel-list-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.channel-list-panel {
    padding: 2rem;
    border: 2px solid #f2f2f2;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    cursor: pointer;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.channel-panel.active,
.channel-list-panel.active {
    border-color: var(--eventy-color-primary);
    box-shadow: 0px 6px 20px #ddd;
    background-color: #fff;
    color: var(--eventy-color-primary);
}

.channel-group.active {
    background-color: #fff;
}

.channel-name {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 0;
}

.btn-logout {
    background-color: var(--eventy-color-red);
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 6px 30px;
    border: none;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}

.ic-money {
    font-size: 3rem;
    color: var(--eventy-color-primary);
    float: left;
}

.ic-caret-slide {
    font-size: 3rem;
    color: #4c4c4c;
    position: absolute;
    top: -4px;
    right: 10px;
    cursor: pointer;
    transition: all .5s;
}

.rotate-up {
    transform: rotate(0);
}

.rotate-down {
    transform: rotate(-180deg);
}

.wrap-input100.first-child .info {
    position: absolute;
    left: 24px;
    font-size: 12px;
    color: #c80000;
    font-style: italic;
    bottom: 5px;
}

.table-summary {
    background: #F1F1F1;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.4rem;
    overflow-x: auto;
}

.table-summary > * {
    width: 100%;
}

.table-summary .table-row {
    display: flex;
    position: relative;
}

.table-summary .table-header {
    border-radius: 10px 10px 0 0;
    color: #FFFFFF;
    background: #27A2D9;
}

.table-summary .table-column {
    /*background: #F1F1F1;*/
    font-size: 1.4rem;
    padding: 2rem 1.5rem;
}

.table-summary .table-column.first-column {
    border-right: 1px solid white;
    width: 58%;
}

.table-summary .table-column.second-column {
    margin-left: auto;
}

.table-summary .table-column:nth-child(3) {
    /* width: 23%; */
    margin-left: auto;
    /*margin-right: 3rem;*/
}

.table-summary .table-column.first-column .title {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-semibold);
}

.table-summary .table-column.first-column .desc {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.table-summary .table-header > h3 {
    font-family: var(--eventy-font-family-semibold);
}

.btn-remove {
    background-color: #D20000;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 22px;
    right: 0;
    width: 16px;
    height: 16px;
    display: flex;
    cursor: pointer;
    border: none;
    padding: 0;
    z-index: 2;
}

.btn-remove span {
    margin: auto;
    font-size: 1.4rem;
    line-height: 0;
}

@media (min-width: 992px) {
    .channel-list-panel {
        width: 32%;
    }

    .channel-box {
        padding: 4rem;
    }

    /*.classcategories {*/
    /*    right: 2.3rem;*/
    /*    padding-top: 0.5rem;*/
    /*    position: absolute;*/
    /*}*/

    .classsoldout {
        padding: 0 2rem;
    }
}
