@font-face {
    font-family: 'Inter-Regular';
    src: url('../../../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../../../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../../fonts/Inter/Inter-Bold.ttf');
}

body {
    height: 100vh;
    width: 100%;
    background: url("../../../images/doorprize/Background_Doorprize.png");
    background-size: 100%;
    /*background-repeat: no-repeat;*/
}
.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(.5);
    transform: translate(0,0)scale(.5);
}
.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(1);
    transform: translate(0,0)scale(1);
}
.img-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (min-width: 1600px) {
    .img-group {
        margin-top: 70px;
    }
}
.img-left {
    height: 37px;
    position: absolute;
    left: 0px;
}
.img-center {
    height: 70px;
    margin: auto;
}
@media (min-width: 1600px) {
    .img-center {
        height: 100px;
    }
}
.img-right {
    height: 50px;
    position: absolute;
    right: 0px;
}
@media (min-width: 992px) {
    .col-custom {
        flex: 0 0 auto;
        width: 20%;
    }
}
/*@media (min-width: 992px) {*/
/*    .container, .container-lg, .container-md, .container-sm {*/
/*        max-width: 910px;*/
/*    }*/
/*}*/

.doorprize-title {
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Inter-Bold', sans-serif;
}
@media (min-width: 1600px) {
    .doorprize-title {
        font-size: 24px;
    }
}
@media (min-width: 1900px) {
    .doorprize-title {
        font-size: 32px;
    }
}
.doorprize-title.doorprize-title--green {
    color: rgba(29, 166, 217, 0.80);
}

.custom-doorprize-item {
    position: relative;
    margin-bottom: 20px;
    display: block;
    user-select: none;
}
.custom-doorprize-item__title {
    color: rgba(29, 166, 217, 0.80);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 16px;
    font-family: 'Inter-Bold', sans-serif;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 0;
}
.img-draw {
    cursor: pointer;
    width: 231.15px;
}
.btn-back {
    --bs-btn-hover-bg: rgba(29, 166, 217, 0.80);
    --bs-btn-hover-color: #fff;
    background: rgba(29, 166, 217, 0.80);
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
}
.btn-back:hover {
    background: rgba(29, 166, 217, 0.80);
    color: #fff;
}
/*.swiper-doorprizes {*/
/*    padding-bottom: 10px;*/
/*}*/
.swiper-doorprizes {
    padding-bottom: 10px;
}
@media (min-width: 1600px) {
    .swiper-doorprizes {
        min-height: 200px;
        padding-bottom: 20px;
    }
}
.swiper-horizontal > .swiper-scrollbar {
    background-color: rgba(12, 77, 162, .5);
    height: 5px;
    width: 150px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}
.swiper-horizontal > .swiper-scrollbar:hover {
    cursor: pointer;
}
.swiper-horizontal > .swiper-scrollbar > .swiper-scrollbar-drag {
    background: rgba(29, 166, 217, 0.80);
}
.swiper-slider-navigation .swiper-button-next,
.swiper-slider-navigation .swiper-button-prev {
    width: auto;
}
.swiper-slider-navigation .swiper-button-next:after,
.swiper-slider-navigation .swiper-button-prev:after {
    content: "";
}
.swiper-slider-navigation .swiper-button-next .swiper-slider-arrow {
    transform: rotateZ(180deg);
}
.swiper-slider-navigation .swiper-button-prev,
.swiper-slider-navigation .swiper-rtl .swiper-button-next {
    left: -50px;
}
.swiper-slider-navigation .swiper-button-next,
.swiper-slider-navigation .swiper-rtl .swiper-button-prev {
    right: -50px;
}
.swiper-button-next, .swiper-button-prev {
    top: 46%;
}
@media (min-width: 1400px) {
    .container.container-custom {
        max-width: 1190px;
    }
    .swiper-slider-navigation .swiper-button-prev,
    .swiper-slider-navigation .swiper-rtl .swiper-button-next {
        left: -60px;
    }
    .swiper-slider-navigation .swiper-button-next,
    .swiper-slider-navigation .swiper-rtl .swiper-button-prev {
        right: -60px;
    }
}

@media (min-width: 1600px) {
    .img-draw {
        width: 300px;
    }
}

@media (min-width: 1900px) {
    .container.container-custom {
        max-width: 1800px;
    }
    .img-group {
        margin-top: 80px;
    }
    .img-left {
        height: 50px;
    }
    .img-center {
        height: 170px;
    }
    .img-right {
        height: 70px;
    }
    .img-draw {
        width: 360px;
    }
    .doorprize-title {
        margin-top: 40px;
    }
    .btn-back {
        font-size: 22px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 15px;
    }
}
