/*------------------------------------------------------------------
  Global Style
-------------------------------------------------------------------*/
@font-face {
    font-family: 'Inter-Regular';
    src: url('../../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('../../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../../fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../fonts/Inter/Inter-Bold.ttf');
}

*, *::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
    overflow-y: scroll;
}

body {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family), sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: #2C2C2C;
    text-align: left;
    overflow-y: visible !important;
}

[v-cloak] {
    display: none;
}

a,
a:hover {
    text-decoration: none;
    color: #2C2C2C;
}

ul {
    padding: 0;
    list-style-type: none;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.5rem;
}

small {
    font-size: 1.2rem;
}

/* Utility */
.img-sm {
    width: 43px;
    height: 43px;
}

/* Color & Background Color */
.color-primary {
    color: var(--eventy-color-primary);
}

.color-secondary {
    color: var(--eventy-color-secondary);
}

.color-tertiary {
    color: var(--eventy-color-tertiary);
}

.bg-primary {
    background-color: var(--eventy-color-primary);
}

.bg-secondary {
    background-color: var(--eventy-color-secondary);
}

.bg-tertiary {
    background-color: var(--eventy-color-tertiary);
}

.bg-dark-grey {
    background-color: #6F6F6F !important;
}

.bg-light-grey {
    background-color: #f9f9f9;
}

.swal2-container {
    z-index: 9999999 !important;
}

.swal2-popup.swal2-toast {
    padding: 1.5rem 4rem !important;
}

.swal2-container > .swal2-popup {
    font-size: 1.5rem;
}
.object-contain {
    object-fit: contain;
}
.pointer-events-none {
    pointer-events: none;
}

.loader-show {
    pointer-events: none !important;
    opacity: .6 !important;
}

.loader-hide {
    pointer-events: all;
    opacity: 1;
}

.tooltip-inner {
    padding: .4rem 1.5rem;
    font-size: 16px;
    border-radius: 15px;
}

/* modal */
.modal.fade .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(.5);
    transform: translate(0,0)scale(.5);
}
.modal.show .modal-dialog.modal-dialog-zoom {
    -webkit-transform: translate(0,0)scale(1);
    transform: translate(0,0)scale(1);
}

/* Modal Feedback */
.modalFeedback .modal-content {
    border-radius: 15px;
    min-height: 580px;
}
.modal-feedback__content {
    padding: 50px 20px 30px;
    text-align: center;
}
.modal-feedback__title {
    font-weight: bolder;
    margin-bottom: 30px;
}
.modal-feedback__highlight-rating {
    background-color: var(--eventy-color-secondary);
    font-size: 18px;
    margin-bottom: 40px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 15px;
    color: #fff;
}
.modal-feedback__subtitle {
    margin-bottom: 30px;
}
.modal-feedback__emoji-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    align-items: center;
    min-height: 70px;
}
.modal-feedback__emoji {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-feedback__emoji--filled {
    margin-bottom: 25px;
    cursor: default;
}
.modal-feedback__emoji__img {
    width: 40px;
    transition: all .3s;
    padding-bottom: 5px;
}
.modal-feedback__emoji__img--filled {
    width: 30px;
}
.modal-feedback__emoji__img--selected {
    width: 60px;
}
.modal-feedback__emoji__img--disabled {
    opacity: .5;
}
.modal-feedback__emoji--percentage {
    color: #2E3538;
    margin-bottom: 0;
    min-width: 33px;
}
.modal-feedback__suggestion {
    width: 100%;
    min-height: 130px;
    max-height: 200px;
    border-radius: 15px;
    border: 1px solid #DADADA;
    padding: 15px;
    margin-bottom: 30px;
    resize: none;
    font-size: 14px;
}
.modal-feedback__suggestion::-webkit-input-placeholder {
    color: #2E3538;
    opacity: .5;
}
.modal-feedback__suggestion:-moz-placeholder { /* Firefox 18- */
    color: #2E3538;
    opacity: .5;
}
.modal-feedback__suggestion::-moz-placeholder {  /* Firefox 19+ */
    color: #2E3538;
    opacity: .5;
}
.modal-feedback__suggestion:-ms-input-placeholder {
    color: #2E3538;
    opacity: .5;
}
.modal-feedback__suggestion::placeholder {
    color: #2E3538;
    opacity: .5;
}
.modal-feedback__suggestion:focus {
    outline: none;
}
.modal-feedback__btn {
    background: linear-gradient(to top left,var(--eventy-color-primary),var(--eventy-color-primary-light));
    border: none;
    color: #fff;
    border-radius: 15px;
    padding: 6px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all .4s;
    margin: auto auto 20px;
}
.modal-feedback__later {
    color: #484848;
    opacity: .8;
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;
}

/* Modal Photobooth */
.modalPhotobooth .modal-content {
    border-radius: 15px;
    min-height: 530px;
    overflow: hidden;
}
.modal-photobooth__content {
    padding: 50px 30px;
}
.modal-photobooth__title {
    font-family: var(--eventy-font-family-bold);
    margin-bottom: 30px;
    text-align: center;
    color: #2E3538;
}
.modal-photobooth__welcome {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    padding: 30px 20px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.img-photobooth {
    position: absolute;
    right: 0;
    left: 0;
    top: -95px;
    width: 80px;
    margin: auto;
}
.modal-invoice__welcome-step {
    display: flex;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: #6F6F6F;
    list-style: none;
}
.modal-photobooth__welcome-title {
    font-family: var(--eventy-font-family-medium);
    color: #484848;
    text-align: center;
}
.modal-photobooth__welcome-step {
    font-size: 14px;
    color: #6F6F6F;
    list-style: none;
    padding-left: 0;
    margin: auto;
}
.modal-photobooth__welcome-step li {
    display: flex;
    align-items: center;
}
.modal-photobooth__welcome-step li:not(:last-child) {
    margin-bottom: 12px;
}
.modal-photobooth__welcome-step .step-number {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    background-color: var(--eventy-color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
.modal-photobooth__btn-group {
    min-height: 100px;
}
.modal-photobooth__btn {
    background: linear-gradient(180deg, var(--eventy-color-primary-light) 0%, var(--eventy-color-primary) 100%);
    box-shadow: 2px 10px 30px -10px var(--eventy-color-primary-light);
    border-radius: 15px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5rem;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all .4s;
    margin: auto auto 20px;
}
.modal-photobooth__btn:hover {
    color: #fff;
    background: linear-gradient(180deg, var(--eventy-color-primary-light) 0%, var(--eventy-color-primary) 100%);
    box-shadow: 0 0 30px var(--eventy-color-primary);
}
.modal-photobooth__back {
    color: var(--eventy-color-primary);
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    background: none;
    transition: .1s all;
    display: block;
    margin: 0 auto;
}
.modal-photobooth__back:hover {
    font-size: 1.8rem;
    font-weight: bold;
}
.btn-photobooth {
    background-color: #fff;
    border-radius: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 2rem 0 5.5rem;
    position: relative;
    height: 40px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    transition: .3s all;
    width: 100%;
}
.btn-photobooth:hover {
    box-shadow: 0 0 15px -5px var(--eventy-color-primary);
}
.camera-left {
    background: linear-gradient(180deg, var(--eventy-color-primary-light) 0%, var(--eventy-color-primary) 100%);
    border-radius: 15px 15px 0 15px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    color: #fff;
    display: flex;
}
.camera-left  * {
    font-size: 20px;
    margin: auto;
}


@media (min-width: 360px) {
    .modal-photobooth__welcome {
        margin-top: 125px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .img-photobooth {
        width: 90px;
        top: -110px;
    }
}
@media (min-width: 576px) {
    .modal-photobooth__welcome {
        margin-top: 140px;
    }
    .img-photobooth {
        width: 100px;
        top: -125px;
    }
}
@media (min-width: 992px) {
    .modalFeedback .modal-dialog {
        max-width: 420px;
    }
    .modal-feedback__content {
        padding: 50px 30px 30px;
        text-align: center;
    }
    .modal-photobooth__content {
        padding: 50px 40px;
    }
    .modal-photobooth__welcome {
        width: 63%;
        margin-top: 0;
    }
    .modal-photobooth__welcome-title {
        text-align: left;
    }
    .modal-photobooth__welcome-step {
        margin: 0;
    }
    .img-photobooth {
        width: 40%;
        right: 14px;
        left: auto;
        top: auto;
        bottom: -10px;
    }
}

/* Modal Invoice */
.modal-invoice .modal-content {
    border-radius: 15px;
    min-height: 410px;
    overflow: hidden;
}
.modal-invoice__content {
    padding: 50px 30px;
}
.modal-invoice .nav-tabs,
.modal-invoice .nav-tabs * {
    flex: 1;
    text-align: center;
}
.modal-invoice .nav-tabs .nav-item:first-child .nav-link {
    border-radius: 15px 0 0 15px;
}
.modal-invoice .nav-tabs .nav-item:last-child .nav-link {
    border-radius: 0 15px 15px 0;
}
.modal-invoice .nav-tabs .nav-item .nav-link {
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}
.modal-invoice .nav-tabs .nav-item.show .nav-link,
.modal-invoice .nav-tabs .nav-link.active {
    background: linear-gradient(180deg, var(--eventy-color-primary-light) 0%, var(--eventy-color-primary) 100%);
    color: #fff;
    border: none;
    /*border-radius: 0px 15px 15px 0px;*/
}
.modal-invoice .nav-tabs .nav-link:focus,
.modal-invoice .nav-tabs .nav-link:hover {
    border: none;
}

@media (min-width: 992px) {
    .modal-invoice__content {
        padding: 50px 40px;
    }
}
@media (min-width: 1920px) {
    .modal-invoice .modal-dialog {
        max-width: 545px;
    }
}

.participant-classroom-wrapper {
    color: #6F6F6F;
    font-size: 1.2rem;
}
.participant-classroom-title {
    margin-top: 25px;
    margin-bottom: 10px;
}
.participant-classroom-list {
    margin-bottom: 20px;
    height: 140px;
    overflow-x: hidden;
    background-color: #FBFBFB;
    border-radius: 15px;
}
.participant-classroom-list--max {
    height: 219px;
    margin-bottom: 0;
}
.participant-classroom-list ul {
    list-style-type: disc;
    padding: 15px 30px;
    margin-bottom: 0;
    margin-right: 12px;
}
.participant-classroom-list li {
    margin-bottom: 10px;
}
.participant-classroom-list li:last-child {
    margin-bottom: 0;
}
.participant-classroom-list li::marker {
    color: var(--eventy-color-secondary);
}
.participant-classroom-help {
    font-size: 1rem;
    margin-bottom: 20px;
    display: flex;
}
.participant-classroom-help .icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--eventy-color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.participant-classroom-help span.bolder {
    font-family: var(--eventy-font-family-medium);
}
.btn-add-classroom {
    background-color: var(--eventy-color-secondary);
    padding: 8px 20px;
    border-radius: 15px;
    font-size: 1.6rem;
    color: #fff;
    transition: all .3s;
}
.btn-add-classroom:hover {
    color: #fff;
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
}
.btn-add-classroom * {
    font-size: 1.2rem;
    margin-bottom: 4px;
    vertical-align: middle;
}

@media (max-width: 400px) {
    .participant-classroom-help {
        flex-wrap: wrap;
    }
    .participant-classroom-help .default {
        margin-left: 20px;
    }
}
@media (min-width: 1680px) {
    .participant-classroom-wrapper {
        font-size: 1.4rem;
    }
    .participant-classroom-list--max {
        height: 222px;
    }
    .participant-classroom-help {
        font-size: 1.2rem;
    }
}
@media (min-width: 1920px) {
    .participant-classroom-wrapper {
        font-size: 1.6rem;
    }
    .participant-classroom-list {
        height: 150px;
    }
    .participant-classroom-list--max {
        height: 235.4px;
    }
    .participant-classroom-help {
        font-size: 1.4rem;
    }
    .participant-classroom-help .icon {
        width: 20px;
        height: 20px;
    }
}

.table--invoice-wrapper {
    height: 264px;
    overflow-x: auto;
    padding-right: 15px;
    margin-right: -15px;
}
@media (min-width: 1680px) {
    .table--invoice-wrapper {
        height: 267px;
    }
}
@media (min-width: 1920px) {
    .table--invoice-wrapper {
        height: 281px;
    }
}
.table--invoice {
    font-size: 1.2rem;
}
.table--invoice thead th {
    word-break: break-word;
    border: 1px solid #DADADA;
    font-weight: var(--eventy-font-family-medium);
}
.table--invoice thead th:nth-child(3) {
    border-right: none;
}
.table--invoice thead th:last-child {
    border-left: none;
}
.table--invoice td,
.table--invoice th {
    padding: 1rem;
}
.table--invoice tbody td {
    vertical-align: middle;
    border: none;
}
.table--invoice tbody tr:nth-child(even) {
    background-color: #FBFBFB;
}
.table--invoice .badge {
    padding: 8px;
    border-radius: 2px;
    color: #fff;
}
.table--invoice .badge.badge-success {
    background-color: #35CD3A;
}
.table--invoice .badge.badge-pending {
    background-color: #ffa534;
}
.table--invoice .badge.badge-pending-2 {
    background-color: #36A3F7;
}
.table--invoice .badge.badge-expired {
    background-color: #8f3232;
}
.table--invoice .ic-download {
    color: var(--eventy-color-primary);
    font-size: 2.4rem;
}

/* Intro.js */
.introjs-tooltipReferenceLayer * {
    font-family: var(--eventy-font-family);
}
.introjs-tooltip-title,
.introjs-tooltipReferenceLayer strong,
.introjs-tooltipReferenceLayer b {
    font-family: var(--eventy-font-family-bold);
}

/* Square box loader */
.square-box-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.square-box-loader-square {
    display: block;
    width: 30px;
    height: 30px;
    background: #1094f7;
}

.square-box-loader-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform-origin: 50% 50% 0;
    animation: dyinglight 1s ease infinite;
    backface-visibility: hidden;
}

.square-box-loader-corner-bottom:after,
.square-box-loader-corner-bottom:before,
.square-box-loader-corner-top:after,
.square-box-loader-corner-top:before {
    position: absolute;
    width: 10px;
    height: 10px;
    color: #1094f7;
    content: '';
}

.square-box-loader-corner-top:before {
    border-left: 1px solid;
    border-top: 1px solid;
    top: -4px;
    left: -4px;
}

.square-box-loader-corner-top:after {
    border-right: 1px solid;
    border-top: 1px solid;
    top: -4px;
    right: -4px;
}

.square-box-loader-corner-bottom:before {
    border-left: 1px solid;
    border-bottom: 1px solid;
    bottom: -4px;
    left: -4px;
}

.square-box-loader-corner-bottom:after {
    border-right: 1px solid;
    border-bottom: 1px solid;
    bottom: -4px;
    right: -4px;
}

.disabled-content {
    pointer-events: all;
    opacity: 0.5;
}

.notification-empty {
    padding: 3rem;
    text-align: center;
}

.show-password {
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #CCD1D8;
}
.show-password.small {
    font-size: 1.6rem;
}
input[type="text"] ~ .show-password {
    color: var(--eventy-color-primary);
}

/* Profile Modal Header */
#profileModal *,
#certificateModal * {
    font-size: 1.02em;
}
.modal-header,
.modal-body {
    padding: 1.6rem;
}
.close {
    font-size: 2.4rem;
}


/* input[type='range' i] {
    -webkit-appearance: slider-horizontal;
    color: rgb(157, 150, 142);
    cursor: default;
    padding: initial;
    border: initial;
    margin: 2px;
} */
.upload-msg {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5rem;
    font-size: 2.2rem;
    color: #aaa;
    border: 1px solid #aaa;
    width: 30rem;
    height: 30rem;
}

.upload-demo-wrap {
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
}

.btn-close {
    background-color: var(--eventy-color-red);
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    cursor: pointer;
    border: none;
    padding: 0;
}

.btn-close span {
    margin: auto;
    font-size: 1.8rem;
    line-height: 0;
}

.dark-backdrop {
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 5;
    display: none;
}

.dark-backdrop[style*="display: block;"] > * {
    pointer-events: none;
}

#appEventy {
    position: relative;
    top: var(--header-height);
    width: 100%;
    min-height: calc(100vh - var(--header-height));
}

.page-body-wrapper {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 100%;
    max-height: 100vh;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.main-panel {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

/* Visitor */
.info-visitor {
    position: fixed;
    top: 120px;
    right: 30px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.feature-group {
    margin-top: 20px;
}

.total-visitor {
    /*display: flex;*/
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 15px;
    padding: .6rem 1.5rem;
    background-color: #fff;
    font-size: 1.5rem;
}

.total-visitor span {
    font-weight: bold;
    margin-right: 5px;
}

.total-visitor .fa {
    margin-right: 5px;
    color: var(--eventy-color-primary);
}

/* certificate */
.btn-certificate,
.btn-certificate:hover,
.btn-certificate:active {
    background: linear-gradient(to bottom left, var(--eventy-color-primary), var(--eventy-color-primary-light));
    color: #fff;
    padding: .7rem 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    box-shadow: none;
    outline: none;
}

/* Floating Chat */
.floating-chat {
    position: fixed;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0 5px 40px;
    border-radius: 15px;
    padding: 4rem 1.5rem;
    right: 110px;
    bottom: 20px;
    width: 40rem;
    min-height: 35rem;
    min-width: 35rem;
    max-height: 70rem;
    height: calc(100% - 70px);
    z-index: 1040;
    display: none;
    transition: bottom .3s;
}

.floating-chat-header {
    box-shadow: 1px 5px 5px -5px rgba(0, 0, 0, 0.15);
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 0 15px;
}

.floating-chat-header .floating-chat-title {
    font-family: var(--eventy-font-family);
    font-weight: bolder;
    text-align: center;
    font-size: 1.6rem;
}

.floating-chat-body {
    overflow: hidden;
    height: calc(100% - 100px);
}

.floating-chat::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 100%;
    margin-top: -5px;
    border-left: 15px;
    border-top: 10px;
    border-bottom: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.floating-chat[style*="display: block;"] + .btn-float .help-label {
    opacity: 0;
    visibility: hidden;
}

.floating-chat[style*="display: none;"] + .btn-float .help-label {
    opacity: 1;
    visibility: visible;
}

.form-message {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    padding: 1.5rem;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-group.form-message .input-group .form-control {
    border-radius: 15px !important;
    padding-right: 5rem;
}

.floating-chat-list {
    height: 100%;
    max-height: 87%;
    padding-top: 15px;
    margin-bottom: 0;
}

.message-wrapper .text-box {
    width: 100%;
    max-width: 100%;
}

.message-wrapper .message-list {
    background-color: var(--eventy-color-lightgrey);
    padding: 1rem 1.5rem;
    display: inline-block;
    border-radius: 10px;
    color: #000;
    max-width: 80%;
    margin-bottom: 5px;
}

.message-wrapper .message-list.message-left {
    border-top-left-radius: 0;
}

.message-wrapper .message-list.message-right {
    border-top-right-radius: 0;
    background-color: var(--eventy-color-primary);
    color: #fff;
    text-align: left;
}

.message-wrapper .message-list > p {
    font-size: 1.4rem;
    margin-bottom: 0;
    line-height: 1.2;
    word-break: break-word;
}

.message-wrapper .message-list.message-right a {
    color: var(--eventy-color-primary-dark);
}
.message-wrapper .message-list.message-left a {
    color: #56b9dc;
}

.message-wrapper .message-name {
    font-size: 1.2rem;
    margin-bottom: 3px;
    font-weight: bold;
}

.message-wrapper .message-company {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.message-wrapper .time {
    font-size: 1rem;
    color: #777;
    display: block;
}

.btn-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 2;
    transition: bottom .3s;
}

.btn-float .help-label {
    font-family: var(--eventy-font-family);
    font-weight: 500;
    padding: .4rem 1.5rem;
    position: absolute;
    right: 65px;
    white-space: nowrap;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: .2s ease-in;
}

.btn-float .help-label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 98%;
    margin-top: -5px;
    border-left: 10px;
    border-top: 5px;
    border-bottom: 5px;
    border-style: solid;
}

.btn-float .icon {
    font-size: 3rem;
    cursor: pointer;
}

/* Pinned Chat */
.pinned-wrapper {
    position: relative;
    min-height: 7.2rem;
}
.pinned-message {
    display: flex;
    margin-bottom: 10px;
    padding: 7px 12px;
    max-height: inherit;
    background-color: var(--eventy-color-primary);
    color: #fff;
    border-radius: 15px;
    z-index: 2;
    position: absolute;
    width: 100%;
}
.pinned-message--wave {
    align-items: center;
}
.pinned-message--wave-text {
    padding: 0 1rem;
}
.pinned-message--green {
    flex-direction: column;
    background-color: #06D6A0;
}
.pinned-message > * {
    margin-bottom: 0;
}
.pinned-title {
    color: yellow;
    font-size: 1.1rem;
}
.pinned-message .pinned-title i {
    font-size: 1.2rem;
    margin-right: 5px;
}
.pinned-message p {
    font-size: 1.2rem;
}
.pinned-btn {
    margin-top: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

/* Sponsor */
.partner-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partner-list > *:not(:last-child) {
    margin-bottom: 20px;
}
.partner-list > * {
    width: 100%;
}
.partner-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.partner-label {
    background-color: var(--eventy-color-primary);
    margin-bottom: 1rem;
    padding: .5rem 3rem;
    border-radius: 6px;
    color: #fff;
    font-family: var(--eventy-font-family-medium);
    font-size: 1.2rem;
    display: inline-block;
}

.partner-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 6px;
    transition: .3s all;
    height: 13rem;
}

@media (min-width: 992px) {
    .partner-col-2 .partner-link {
        height: 22rem;
    }
    .partner-col-3 .partner-link {
        height: 18rem;
    }
}

.partner-link img {
    width: 100%;
}

.partner-col-1 .partner-link {
    flex-basis: 100%;
}

.partner-col-2 .partner-link {
    flex-basis: 48.5%;
}

.partner-col-3 .partner-link {
    flex-basis: 32.5%;
}

.partner-col-4 .partner-link {
    flex-basis: 24%;
}

.partner-col-5 .partner-link {
    flex-basis: 43%;
}

@media (min-width: 992px) {
    .partner-col-5 .partner-link {
        flex-basis: 18%;
    }
}

.partner-link:hover {
    background-color: #EFF2F6;
}

/* Sponsor */

/* Scroll Auto */
.scroll-list {
    overflow-x: auto;
}
.scroll-list::-webkit-scrollbar {
    width: 6px;
}
.scroll-list::-webkit-scrollbar-track {
    background-color: #EFF2F6;
    border-radius: 4px;
}
.scroll-list::-webkit-scrollbar-thumb {
    background-color: #CCD1D8;
    border-radius: 4px;
}
.scroll-list::-webkit-scrollbar-thumb:hover {
    background-color: #A7ACB4;
}

.simple-scrollbar::-webkit-scrollbar {
    width: 5px;
}
.simple-scrollbar::-webkit-scrollbar-track {
    background: #DADADA;
    border-radius: 15px;
}
.simple-scrollbar::-webkit-scrollbar-thumb {
    background: #B2B2B2;
    border-radius: 15px;
}
.simple-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #999999;
}

.form-control {
    padding: 1.5rem;
    border-radius: 10px;
}

.form-group .input-group .form-control {
    background: #fff;
    border: solid 1px #dedede;
    font-size: 1.4rem;
    padding: 1.5rem 1.8rem;
    border-radius: 15px;
}

.form-group .input-group {
    margin-top: 4px;
}

.form-group .input-group .input-group-append .input-group-text {
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 1.2rem;
    text-decoration: none;
}

.input-group-append {
    background-color: var(--eventy-color-primary);
    color: #fff;
    width: auto;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 15px;
    z-index: 4;
}

/* END UPLOAD FILE CUSTOM CSS */


/* Booth, Main Stage, Classroom */
.btn-chat {
    background: linear-gradient(to top left, var(--eventy-color-primary), var(--eventy-color-primary-light));
}

.main-section {
    position: relative;
    display: flex;
    /* max-height: 0; */
    min-height: inherit;
    flex-direction: column;
    width: 100%;
}

.image-background {
    position: absolute;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
    display: none;
}

.main-content,
.wrapper-center {
    width: 100%;
    position: relative;
    /* z-index: 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* min-height: inherit; */
}

.content-area {
    width: inherit;
    min-height: inherit;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* About */
.about-title {
    font-weight: bold;
}

.about-subtitle {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    display: block;
    color: #5a5a5a;
}

/*------------------------------------------------------------------
  Global Style End
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
  Header
-------------------------------------------------------------------*/
.navbar {
    font-family: var(--eventy-font-family), sans-serif;
    background: #ffffff;
    padding: 0;
    height: var(--header-height);
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
}
.navbar.fixed-top {
    z-index: 1070;
}
@media (min-width: 992px) {
    .container-header {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.event-title {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: none;
}

/* Navbar */
.navbar .navbar-brand-wrapper .navbar-brand img {
    height: 3rem;
    margin: auto;
    vertical-align: middle;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar .navbar-brand-wrapper .brand-logo-mini img {
    height: 4rem;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.navbar .navbar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .navbar-menu-wrapper .navbar-nav {
    flex-direction: row;
    align-items: center;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    margin-left: auto;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right * {
    white-space: normal;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .profile-name {
    font-family: var(--eventy-font-family-medium);
    font-size: 1.2rem;
    margin-bottom: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .profile-company {
    font-size: 1rem;
    margin-bottom: 0;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: inherit;
    font-size: 0.9375rem;
    margin-left: 1rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-profile img {
    display: initial !important;
    -o-object-fit: cover;
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
}

/* Button Whatsapp Lobby */
.btn-float-whatsapp {
    position: fixed;
    bottom: 110px;
    right: 15px;
    text-align: center;
}
.btn-float-whatsapp img {
    margin-bottom: 8px;
}
.btn-float-whatsapp p {
    /*color: #fff;*/
    font-size: 1.4rem;
    margin: 0;
    font-family: var(--eventy-font-family-medium);
}
@media (min-width: 992px) {
    .btn-float-whatsapp {
        bottom: 40px;
        right: 40px;
    }
}

/* Notification */
.notif-app {
    background: #EFF2F6;
    color: var(--eventy-color-primary);
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.notif-badge-new {
    position: absolute;
    width: 7px;
    top: 0;
    right: 0;
}
.notif-badge-chat {
    width: 15px;
}

.notif-app.active {
    color: #fff;
    background: var(--eventy-color-primary);
}

.box-notification {
    position: absolute;
    top: 50px;
    left: unset;
    right: 0;
    min-width: 42rem;
    max-width: 42rem;
    padding: 3rem 2.5rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
    display: none;
}

.box-notification .notification-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
}

.box-notification .notification-header h5 {
    margin-bottom: 0;
}

.box-notification .notification-header .total-badge {
    color: var(--eventy-color-primary);
    border-radius: 50%;
    padding: .3rem;
}

.box-notification .notification-header .mark-as-read {
    margin-bottom: 0;
    color: var(--eventy-color-primary);
    cursor: pointer;
}

.box-notification .notification-list {
    height: 100%;
    /* min-height: 26rem; */
    max-height: 40rem;
}

.box-notification .notification-list .notification-item {
    margin-right: 10px;
    padding: 1.5rem;
    line-height: 1.5;
    border-bottom: 1px solid #CCD1D8;
    position: relative;
}

.box-notification .notification-list .notification-item:not(.has-read)::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--eventy-color-primary);
    position: absolute;
    left: 0;
    top: 20px;
}

.box-notification .notification-list .notification-item .notification-title {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-bold);
    margin-bottom: 10px;
}

.box-notification .notification-list .notification-item .notification-message {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family);
    margin-bottom: 5px;
    line-height: 22px;
}

.box-notification .notification-list .notification-item .notification-attachment {
    background-color: rgba(40, 183, 251, .05);
    color: var(--eventy-color-primary);
    border-radius: 4px;
    padding: 7px 10px;
    display: block;
    font-size: 1rem;
}

.box-notification .notification-list .notification-item span {
    font-size: 1rem;
    font-weight: 700;
    color: #8E9192;
}

/* Profile */
.box-profile {
    position: absolute;
    top: 50px;
    left: unset;
    right: 0;
    min-width: 33rem;
    max-width: 40rem;
    padding: 3rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
    display: none;
}

.profile-header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top left, var(--eventy-color-primary), var(--eventy-color-primary-light));
    border-radius: inherit;
    text-align: center;
    position: relative;
    color: #2C2C2C;
}

.profile-header__title {
    font-family: var(--eventy-font-family-bold);
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.profile-header__name {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-bold);
    margin-bottom: 5px;
}

.profile-header__company {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.profile-header .img-heading {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto 2rem;
    cursor: pointer;
}

.profile-header > .img-heading > i {
    position: absolute;
    bottom: 6px;
    right: 6px;
    color: var(--eventy-color-primary);
    background-color: #fff;
    padding: 5px 6px;
    border-radius: 50%;
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
}

.profile-body {
    padding: 3rem 0;
}

.profile-body__icon {
    border: 1px solid #CCD1D8;
    border-radius: 6px;
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-body__info {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.profile-body__info .profile-body__label {
    font-size: 1.2rem;
}

.profile-body__info .profile-body__value {
    font-family: var(--eventy-font-family-bold);
    font-size: 1.4rem;
}

.profile-body li {
    display: flex;
    align-items: center;
    position: relative;
}
.profile-body li:not(:last-child) {
    margin-bottom: 2rem;
}

.btn-edit-password {
    padding: 4px 15px;
    border-radius: 6px;
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--eventy-color-primary);
    border: none;
    margin-left: auto;
}

#profile-info {
    border-radius: inherit;
}

#profile-password {
    display: none;
}

.profile-password-header {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.profile-password-header__title {
    margin-bottom: 0;
    font-family: var(--eventy-font-family-bold);
    font-size: 1.4rem;
}

.btn-side-back {
    position: absolute;
    left: 0;
}

.profile-password-form {
    margin-bottom: 5rem;
}

.profile-password-form input {
    padding: 1.5rem;
    background-color: #fff;
}

.profile-password-form label {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #2C2C2C;
    line-height: 1.5;
    margin-bottom: 5px;
}

.text-alert {
    font-size: 1.2rem;
    margin-top: 2px;
}

.img-heading {
    display: inline-block;
    position: relative;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

.upload-heading {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 99;
    cursor: pointer;
}

.upload-heading + img {
    cursor: pointer;
    width: 9rem;
    height: 9rem;
    color: #959595;
    background-color: #F5F5F5;
    display: block;
    border-radius: 15px;
    font-size: 7px;
    font-weight: 600;
    line-height: 14px;
    transition: .5s;
    border: 1px solid #F5F5F5;
    -o-object-fit: contain;
    object-fit: contain;
}

.btn-logout {
    background-color: #D20000;
    color: #fff;
    font-family: var(--eventy-font-family-medium);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 12px 30px;
    margin: auto;
    border: none;
    border-radius: inherit;
    display: block;
    cursor: pointer;
    width: 100%;
}

.btn-edit-pass {
    background: var(--eventy-color-primary);
    box-shadow: rgba(0, 0, 0, 0.10) 0 5px 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 5px 3rem;
    border: none;
    border-radius: 15px;
    display: block;
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0 auto;
}

/*------------------------------------------------------------------
  Header End
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
  Drawer Navigation
-------------------------------------------------------------------*/
.drawer-navigation {
    position: fixed;
    right: 0;
    top: 250px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 6px 0px 0px 6px;
    padding: 1.5rem;
    padding-left: 2rem;
}
.drawer-navigation__menu {
    margin-bottom: 0;
}
.drawer-navigation__item {
    display: flex;
}
.drawer-navigation__item:not(:last-child) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #A7ACB4;
}
.drawer-navigation__item .drawer-navigation__label {
    font-size: 1.4rem;
    color: #2C2C2C;
    margin-left: 1rem;
}
.btn-toggle-drawer {
    background-color: var(--eventy-color-primary);
    border-radius: 6.5px;
    padding: 10px 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -7px;
    border: none;
}
/* Custom Offcanvas bootstrap */
.offcanvas-body-custom {
    padding: 6rem 3rem;
}
@media (min-width: 992px) {
    .offcanvas-custom {
        --bs-offcanvas-width: 60rem;
    }
    .offcanvas-body-custom {
        margin-top: var(--header-height);
    }
}
.nav-tabs-custom {
    margin-bottom: 4rem;
    border-radius: 6px;
    border: 1px solid var(--eventy-color-primary);
    justify-content: space-between;
}
.nav-tabs-custom .nav-item {
    flex: 1 1 0;
}
.nav-tabs-custom .nav-item .nav-link {
    border: none;
    color: var(--eventy-color-primary);
    padding: 1rem 3rem;
    font-size: 1.4rem;
    width: 100%;
}
.nav-tabs-custom .nav-item .nav-link:focus-visible {
    outline: none;
}
.nav-tabs-custom .nav-item .nav-link svg {
    fill: var(--eventy-color-primary);
}
.nav-tabs-custom .nav-item .nav-link.active {
    background-color: var(--eventy-color-primary);
    border-radius: 6px;
    color: #fff;
}
.nav-tabs-custom .nav-item .nav-link.active svg {
    fill: #fff;
}

.tab-content__header {
    margin-bottom: 3rem;
}
.tab-content__title {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 8px;
}
.tab-content__desc {
    font-size: 1.2rem;
    margin-bottom: 0;
}

/* Document */
.nav-tabs-attachment {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    justify-content: center;
    border: none;
}
.nav-tabs-attachment .nav-item .nav-link {
    border: none;
    color: #CCD1D8;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    width: 100%;
    position: relative;
}
.nav-tabs-attachment .nav-item .nav-link:focus-visible {
    outline: none;
}
.nav-tabs-attachment .nav-item .nav-link.active {
    color: #2C2C2C;
}
.nav-tabs-attachment .nav-item .nav-link.active::after {
    content: '';
    border-radius: 6px;
    height: 2px;
    width: 30%;
    background-color: #2C2C2C;
    position: absolute;
    bottom: -7px;
    right: 0;
    left: 0;
    margin: auto;
}
.tab-document__list {
    margin-top: -2rem;
}
.tab-document__item {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-document__item:not(:last-child) {
    border-bottom: 1px solid #CCD1D8;
}
.tab-document__title {
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.tab-document__size {
    color: #CCD1D8;
    font-size: 1.2rem;
    font-weight: var(--eventy-font-family-medium);
}
.btn-download-document,
.btn-download-document:hover {
    border-radius: 6px;
    background-color: var(--eventy-color-primary);
    padding: .8rem 1.8rem;
    color: #fff;
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
}

/* Video */
.tab-video__item {
    margin-bottom: 4rem;
    cursor: pointer;
}
.tab-video__view {
    margin-bottom: 1.5rem;
    position: relative;
}
.tab-video__btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.tab-video__desc {
    font-size: 1.6rem;
    margin-bottom: 0;
}

/* About */
.tab-about__logo {
    background: #EFF2F6;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    margin: 0 auto 2rem;
}
.tab-about__name {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    text-align: center;
    margin-bottom: 2rem;
}
.tab-about__contact {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.tab-about__contact__link {
    display: flex;
    background-color: var(--eventy-color-primary);
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 1rem;
}
.tab-about__description {
    border-radius: 6px;
    padding: 1.5rem;
    margin-bottom: 4rem;
    background: #EFF2F6;
}
.tab-about__description__text {
    font-size: 1.4rem;
    margin-bottom: 0;
}

/* Product */
.card-product {
    background: #EFF2F6;
    border-radius: 6px;
    padding: 1rem;
    border: none;
}
.card-product__img {
    margin-bottom: 1rem;
}
.card-product__content {
    padding: 0 1rem;
}
.card-product__name {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: .6rem;
}
.card-product__desc {
    font-size: 1.2rem;
    color: #CCD1D8;
    margin-bottom: 2rem;
}
.card-product__price {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    color: var(--eventy-color-primary);
    margin-bottom: 1rem;
}

/*------------------------------------------------------------------
  Drawer Navigation End
-------------------------------------------------------------------*/



/*------------------------------------------------------------------
  Bottom Navigation
-------------------------------------------------------------------*/
.bottom-navigation {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1030;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px;
}
.bottom-navigation .nav-bottom-menu {
    display: flex;
    list-style: none;
    margin: 0;
}
.bottom-navigation .nav-bottom-item {
    margin: 0 15px;
    text-align: center;
    position: relative;
    padding: 6px 0;
}
@media (min-width: 992px) {
    .bottom-navigation {
        bottom: 50px;
    }
    .bottom-navigation .nav-bottom-menu {
        display: flex;
        list-style: none;
        padding: 0 10px;
        margin: 0;
    }
    .bottom-navigation .nav-bottom-item {
        margin: 0 20px;
    }
}
.bottom-navigation .nav-bottom-item.active::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--eventy-color-primary);
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.bottom-navigation .nav-bottom-item.active .menu-item > * {
    fill: var(--eventy-color-primary);
}
.bottom-navigation .nav-bottom-item .label-menu-mini {
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium), sans-serif;
    color: #A7ACB4;
    text-align: center;
    white-space: nowrap;
}
.bottom-navigation .nav-bottom-item.active .label-menu-mini {
    color: var(--eventy-color-primary);
}
@media (min-width: 992px) {
    .bottom-navigation .nav-bottom-item .label-menu-mini {
        font-size: 1.4rem;
    }
}

.nav-bottom-menu .nav-bottom-item a.menu-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}


.form-filter-group {
    position: relative;
    height: 60px;
    flex: 1;
}
.form-filter {
    height: 100%;
    outline: none;
    font-size: 1.4rem;
    background-color: #fff;
    color: #2C2C2C;
    padding-top: 25px;
    border: 1px solid #CCD1D8;
    font-family: var(--eventy-font-family-medium);
}
.form-filter:focus {
    color: #2E3538;
    border: 1px solid #DADADA;
}

.date-label {
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.label-icon {
    position: absolute;
    top: -8px;
    right: 0;
    left: 0;
    width: 45px;
    margin: 0 auto;
}


.schedule-list {
    max-height: calc(100vh - 420px);
}
.schedule-item {
    display: flex;
    position: relative;
    padding: 10px;
}

.schedule-item.active {
    background-color: #F5F5F5;
}

.schedule-item__status {
    border-radius: 6px;
    padding: 5px 7px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 5px;
    display: block;
    font-family: var(--eventy-font-family-bold);
    text-align: center;
}
.schedule-item__status.schedule-item__status--live {
    background-color: #D20000;
}
.schedule-item__status.schedule-item__status--soon {
    background-color: #FFA723;
}
.schedule-item__status.schedule-item__status--today {
    background-color: #00B649;
}
.schedule-item__status.schedule-item__status--passed {
    background-color: #EFF2F6;
    color: #CCD1D8;
}
.schedule-img {
    min-width: 64px;
    max-width: 64px;
}
.schedule-content {
    margin-left: 20px;
}

.schedule-title {
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 12px;
}

.schedule-marker,
.schedule-time,
.schedule-speaker {
    font-size: 1.2rem;
    margin-bottom: 6px;
}
.schedule-speaker {
    margin-bottom: 0;
}
.schedule-content__icon {
    width: 10px;
}
.schedule-marker span,
.schedule-time span,
.schedule-speaker span {
    margin-left: 5px;
}

.booth-list {
    max-height: calc(100vh - 420px);
    margin-bottom: 0;
    padding-left: .4rem;
    padding-right: .7rem;
}
.booth-list__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1.5rem;
    border-radius: 6px;
    position: relative;
}
.booth-list__item.active {
    background-color: #EFF2F6;
}
.booth-list__item.active::after {
    content: '';
    position: absolute;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: var(--eventy-color-primary);
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
}
.booth-list__item:hover {
    background-color: #EFF2F6;
}
.booth-list__item:not(:last-child) {
    margin-bottom: 0;
}
.booth-list__icon {
    max-width: 64px;
}
.booth-list__icon img {
    width: 100%;
}
.booth-list__content {
    margin-left: 2rem;
}
.booth-list__content__title {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 1rem;
}
.booth-list__content__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.booth-list__content__subtitle span {
    font-family: var(--eventy-font-family-medium);
}

/*------------------------------------------------------------------
  Floating Menu End
-------------------------------------------------------------------*/

.background-content {
    position: absolute;
    width: 100%;
}

.modal-booth-category .modal-dialog.modal-lg {
    --bs-modal-width: 980px;
}
.modal-booth-category .modal-content {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7.5px);
    border-radius: 6px;
}
.modal-booth-category .modal-header,
.modal-booth-category .modal-body {
    padding: 4rem 8rem;
}
.modal-booth-category .modal-body {
    padding-bottom: 1.5rem;
}
.modal-booth-category .modal-header {
    display: block;
    text-align: center;
    border: none;
}
.modal-booth-category .modal-header .modal-title {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 1rem;
}
.modal-booth-category .modal-header .modal-subtitle {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.swiper-booth-categories {
    padding-bottom: 5rem;
}
.swiper-booth-categories .swiper-pagination-bullet-active {
    --swiper-theme-color: #2C2C2C;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
}
.swiper-button-next img {
    transform: rotateY(180deg);
}
.swiper-booth-category-navigation .swiper-button-next {
    right: 20px;
}
.swiper-booth-category-navigation .swiper-button-prev {
    left: 20px;
}
.card-category {
    border-radius: 6px;
    display: flex;
}
.card-category__inner {
    border-radius: 6px;
    padding: 3rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 54.69%);
    text-align: center;
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card-category__inner__title {
    font-size: 1.4rem;
    color: #fff;
    margin-bottom: 1rem;
}
.card-category__inner__total {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
}
.btn-explore {
    font-size: 1.4rem;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 1.2rem 3rem;
    display: inline-block;
    font-family: var(--eventy-font-family-medium);
}


/*------------------------------------------------------------------
  Booth
-------------------------------------------------------------------*/
.page-content-wrapper {
    padding-top: 5%;
    position: relative;
}
.row-header {
    display: flex;
    margin-bottom: 4rem;
    align-items: center;
}
.floorplan-booth-list {
    max-height: 67rem;
}
.container-booth .form-filter-group {
    flex-basis: 24%;
    flex-grow: 0;
}
.booth-not-found {
    font-family: var(--eventy-font-family-semibold);
    text-align: center;
}
.sort-by-like {
    color: #fff;
    font-size: 1.4rem;
    margin-left: auto;
    cursor: pointer;
}
.card-booth {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7.5px);
    border-radius: 6px;
    padding: 1rem 1rem 4rem;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem;
    display: block;
}
.card-booth__like {
    background: #fff;
    border-radius: 6px;
    padding: 8px 10px;
    margin-bottom: 2rem;
    display: inline-block;
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium);
    float: right;
}
.card-booth__thumbnail {
    margin-bottom: 2.5rem;
}
.card-booth__thumbnail img {
    width: 100%;
    object-fit: contain;
}
.card-booth__inner {
    text-align: center;
}
.card-booth__name {
    font-family: var(--eventy-font-family-bold);
    font-size: 1.4rem;
    margin-bottom: 8px;
}
.card-booth__visited {
    font-size: 1.2rem;
}


/* Booth Detail */
.dropdown--booth {
    --bs-dropdown-color: #2C2C2C;
}
.dropdown--booth.expanded {
    z-index: 1060;
}
.btn-header-booth {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7.5px);
    border-radius: 26.5px;
    padding: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 6rem;
    cursor: pointer;
}
.dropdown--booth.expanded .btn-header-booth {
    background: #fff;
}
.btn-header-booth__icon {
    background: #fff;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 2px;
}
.btn-header-booth__icon * {
    width: 100%;
}
.dropdown--booth.expanded .btn-header-booth__icon {
    background: #EFF2F6;
}
.btn-header-booth__inner {
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}
.btn-header-booth__label {
    font-size: 1rem;
    margin-bottom: 4px;
    display: inline-block;
}
.btn-header-booth__name {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 0;
}
.btn-header-booth .icon__arrow-down {
    margin-left: auto;
    margin-right: 2rem;
    transition: transform .3s;
}
.dropdown--booth.expanded .btn-header-booth .icon__arrow-down {
    transform: rotate(180deg);
}
.dropdown-menu--booth {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    transform: translate3d(0px, 60px, 0px)!important;
    padding: 2rem;
}
.swiper-button-prev__booth,
.swiper-button-next__booth {
    background: #FFFFFF;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}
.swiper-button-prev__booth img,
.swiper-button-next__booth img {
    width: .8rem;
}

/* Product Modal */
.modal-product .modal-dialog.modal-lg {
    --bs-modal-width: 935px;
}
.modal-product .modal-content {
    background-color: #fff;
    border-radius: 6px;
}
.modal-product .modal-body {
    padding: 4rem 4rem 6rem;
}
.modal-product .modal-header {
    display: block;
    text-align: center;
    border: none;
}
.swiper-product {
    height: 100%;
}
.swiper-card-product {
    padding: 0 5rem;
    background: #EFF2F6;
    border-radius: 6px;
    height: 100%;
}
.swiper-card-product__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination__product {
    margin-top: 1rem;
    position: static;
}
.swiper-pagination__product .swiper-pagination-bullet-active {
    --swiper-theme-color: #2C2C2C;
}
.swiper-pagination__product .swiper-pagination-bullet-active:focus-visible {
    outline: none;
}
.swiper-product-navigation .swiper-button-next svg {
    transform: rotateY(180deg);
}
.swiper-product-navigation .swiper-button-next {
    right: -50px;
}
.swiper-product-navigation .swiper-button-prev {
    left: -50px;
}

.modal-product__info {
    position: relative;
}
@media (min-width: 992px) {
    .modal-product__info {
        padding-left: 3rem;
    }
}
.modal-product__copy {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    font-family: var(--eventy-font-family-medium);
    color: var(--eventy-color-primary);
    cursor: pointer;
}
.modal-product__name {
    font-size: 1.8rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 1.5rem;
}
.modal-product_price {
    font-size: 1.6rem;
    font-family: var(--eventy-font-family-medium);
    color: var(--eventy-color-primary);
    margin-bottom: 3rem;
}
.modal-product__desc {
    max-height: 29rem;
    overflow-x: hidden;
    padding-right: 2rem;
    margin-right: -2rem;
    margin-bottom: 6rem;
}
.modal-product__desc__text {
    font-size: 1.4rem;
}
.modal-product__contact {
    display: flex;
    justify-content: space-between;
}
.modal-product__btn {
    border-radius: 6px;
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
}
.modal-product__btn:hover,
.modal-product__btn:active {
    color: #fff;
}
.modal-product__btn--whatsapp {
    background: #55CD6C;
    flex-basis: 58%;
}
.modal-product__btn--close {
    background: #D20000;
    flex-basis: 40%;
}
/*------------------------------------------------------------------
  Booth End
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  Stage
-------------------------------------------------------------------*/
.stage-view {
    margin-bottom: 2rem;
}
.stage-iframe {
    width: 100%;
    border-radius: 6px;
}
.stage-information {
    padding: 2rem 2.5rem;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7.5px);
}
.stage-information__title {
    font-size: 1.4rem;
    font-family: var(--eventy-font-family-medium);
    margin-bottom: 1rem;
}
.stage-information__notes {
    display: flex;
    align-items: center;
}
.stage-information__clock,
.stage-information__speaker {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

/*------------------------------------------------------------------
  Stage End
-------------------------------------------------------------------*/

