@media (min-width: 1200px) {
    #bottom-navigation {
        display: none;
    }
    .main-panel {
        flex-direction: row;
    }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-profile img {
        display: none;
    }
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right,
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-center {
        display: flex!important;
    }
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-center {
        margin: 0 auto;
    }
    .navbar .navbar-menu-wrapper  .navbar-nav.navbar-nav-left {
        margin-left: 60px;
    }
    .image-background {
        display: block;
    }
    .sidebar-panel {
        max-width: 25%;
        display: block;
    }
    .main-section {
        flex-direction: row;
    }
    .content-area {
        margin-left: 5rem;
        padding: 1.5rem;
    }
    .main-content, .wrapper-center {
        z-index: 0;
    }
}
@media (min-width: 992px) {
    .navbar .navbar-brand-wrapper .brand-logo-mini {
        display: none;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        margin: 2.8rem auto;
    }
}
@media (max-width: 1199.98px) {
    #float-navigation {
        display: none;
    }
    .navbar {
        flex-direction: row;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
    }
    .navbar .navbar-menu-wrapper {
        width: auto;
    }
    .info-visitor {
        position: static!important;
        margin: 2rem auto;
        align-self: center;
        justify-content: center;
    }

    .btn-float {
        right: 15px;
        height: 45px;
        width: 45px;
    }
    .btn-float,
    .floating-chat {
        bottom: calc(var(--header-height) + 10px);
    }
    .btn-float .icon {
        font-size: 25px;
    }

    .box-content .box-frame-center,
    .box-content .swiper-container {
        min-height: 530px;
        max-height: 530px;
    }
    .container-box .iframe-video,
    .plyr--video {
        min-height: 600px!important;
        max-height: 600px!important;
    }
    .container-box #embedZoom.iframe-video {
        min-height: 665px!important;
        max-height: 665px!important;
    }
}
@media (max-width: 1000px) {
    .container-box #embedZoom.iframe-video {
        min-height: 595px!important;
        max-height: 595px!important;
    }
}
@media (max-width: 991.98px) {
    .navbar .navbar-brand-wrapper .brand-logo {
        display: none;
    }
}
@media (max-width: 900px) {
    .container-box #embedZoom.iframe-video {
        min-height: 540px!important;
        max-height: 540px!important;
    }
}
@media (max-width: 850px) {
    .container-box #embedZoom.iframe-video {
        min-height: 515px!important;
        max-height: 515px!important;
    }
}
@media (max-width: 800px) {
    .container-box #embedZoom.iframe-video {
        min-height: 480px!important;
        max-height: 480px!important;
    }
}
@media (max-width: 768px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .time-map {
        display: none;
    }
    .box-content .box-frame-center,
    .box-content .swiper-container {
        min-height: 410px;
        max-height: 410px;
    }
    .container-box .iframe-video,
    .plyr--video {
        min-height: 450px!important;
        max-height: 450px!important;
    }
    .container-box #embedZoom.iframe-video {
        min-height: 470px!important;
        max-height: 470px!important;
    }
}
@media (max-width: 700px) {
    .container-box #embedZoom.iframe-video {
        min-height: 430px!important;
        max-height: 430px!important;
    }
}
@media (max-width: 640px) {
    .box-content .box-frame-center,
    .box-content .swiper-container {
        min-height: 340px;
        max-height: 340px;
    }
    .container-box .iframe-video,
    .plyr--video {
        min-height: 400px!important;
        max-height: 400px!important;
    }
}
@media (max-width: 600px) {
    .container-box #embedZoom.iframe-video {
        min-height: 370px!important;
        max-height: 370px!important;
    }
}
@media (max-width: 576px) {
    body.swal2-toast-shown .swal2-container.swal2-top {
        transform: translateX(0)!important;
        right: 0!important;
        left: 0!important;
    }
    .box-notification,
    .box-profile {
        left: 0;
        right: 0;
        min-width: auto;
        top: calc(var(--header-height) + 20px);
        width: 92%;
        position: fixed;
        margin: auto;
    }
    .box-notification::after,
    .box-profile::after {
        content: none;
    }
    .floating-chat {
        top: 0;
        right: 0;
        bottom: 0!important;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
    }
    .box-content .box-frame-center,
    .box-content .swiper-container {
        min-height: 300px;
        max-height: 300px;
    }
    .container-box .iframe-video,
    .plyr--video {
        min-height: 400px!important;
        max-height: 400px!important;
    }
    .container-box #embedZoom.iframe-video {
        min-height: 360px!important;
        max-height: 360px!important;
    }
}

@media (max-width: 540px) {
    .container-box #embedZoom.iframe-video {
        min-height: 340px!important;
        max-height: 340px!important;
    }
}

@media (max-width: 500px) {
    .container-box #embedZoom.iframe-video {
        min-height: 315px!important;
        max-height: 315px!important;
    }
}

@media (max-width: 480px) {
    .box-content .swiper-container {
        min-height: 251px;
        max-height: 251px;
    }
    .container-box .iframe-video,
    .plyr--video,
    .box-content .box-frame-center {
        min-height: 250px!important;
        max-height: 250px!important;
    }
    .container-box #embedZoom.iframe-video {
        min-height: 305px!important;
        max-height: 305px!important;
    }
    .img-empty-states {
        width: 100%;
    }
}

@media (max-width: 440px) {
    .container-box #embedZoom.iframe-video {
        min-height: 280px!important;
        max-height: 280px!important;
    }
}

@media (max-width: 400px) {
    .container-box #embedZoom.iframe-video {
        min-height: 260px!important;
        max-height: 260px!important;
    }
}

@media (max-width: 380px) {
    .box-content .swiper-container {
        min-height: 190px;
        max-height: 190px;
    }
    .container-box .iframe-video,
    .plyr--video,
    .box-content .box-frame-center {
        min-height: 210px!important;
        max-height: 210px!important;
    }
    .container-box #embedZoom.iframe-video {
        min-height: 240px!important;
        max-height: 240px!important;
    }
}

@media (max-width: 320px) {
    .container-box #embedZoom.iframe-video {
        min-height: 215px!important;
        max-height: 215px!important;
    }
}
