.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    transition: .6s;
    margin: 0 auto;
    opacity:0.8;
    pointer-events: none;
}

#preloader-active:not([style*="display: none;"]) ~ * {
    pointer-events: none;
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-top-color: var(--eventy-color-primary);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    transition: .6s;
    top: 43%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.preloader .preloader-img {
    position: absolute;
    top: 49%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    transform: translateY(-50%);
    padding-top: 3px;
    transition: .6s;
}

.preloader .preloader-img img {
    height: 80px;
    width: 80%;
    border-radius: 50%;
}

@-webkit-keyframes zoom {
    0% {
        transform: rotate(0deg);
        transition: .6s;
    }
    100% {
        transform: rotate(360deg);
        transition: .6s;
    }
}

@keyframes zoom {
    0% {
        transform: rotate(0deg);
        transition: .6s;
    }
    100% {
        transform: rotate(360deg);
        transition: .6s;
    }
}

@media(max-width: 1920px) {
    .preloader .preloader-img{
        top: 50%;
    }
}
@media(max-width: 1680px) {
    .preloader .preloader-img{
        top: 49.5%;
    }
}
@media(max-width: 991px) {
    .preloader .preloader-circle {
        top:43%;
    }
}
